// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


@font-face {
  font-family: 'SofiaPro-Light';
  src: url('../fonts/SofiaPro-Light.eot');
  src: url('../fonts/SofiaPro-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SofiaPro-Light.svg#SofiaPro-Light') format('svg'),
       url('../fonts/SofiaPro-Light.ttf') format('truetype'),
       url('../fonts/SofiaPro-Light.woff') format('woff'),
       url('../fonts/SofiaPro-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SofiaPro-SemiBold';
  src: url('../fonts/SofiaPro-SemiBold.eot');
  src: url('../fonts/SofiaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SofiaPro-SemiBold.svg#SofiaPro-SemiBold') format('svg'),
       url('../fonts/SofiaPro-SemiBold.ttf') format('truetype'),
       url('../fonts/SofiaPro-SemiBold.woff') format('woff'),
       url('../fonts/SofiaPro-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Muli:400,600,700');*/


// Font mixins

@mixin light-condensed-italic{
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	font-weight: 300;
}

@mixin light-condensed{
	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	font-weight: 300;
}