/**
 * Basic typography style for copy text
 */
body {
  color: $dark-grey;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: $base-font-size;
}
p{
	color: $dark-grey;
}
a{
	color: #34b44a;
}
h1, h2, h3, h4, h5, h6{
  color: $dark-grey;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 700;
}

dd {
    margin-left: 25px;
}
h1, h2, h3, h4, h5, h6{
  color: $dark-grey;
  font-family: 'SofiaPro-SemiBold';
  font-style: normal;
  font-weight: 700;
}
body, u, i a {
  font-family: 'SofiaPro-Light';
}
a:hover {
  text-decoration: none;
}