// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.copyrights {
    background: #313739;
    display: inline-block;
    width: 100%;
    color: #fff;
    a {
	    float: left;
	    margin: 0 10px;
	    color: #fff;
	}
	.logo-years {
	    padding: 0;
	    img {
    		margin-right: 30px;
		    width: 145px;
	    }
	}
	.social-icons {
	    padding: 17px 0 0;
    	float: right;
   		width: 38%;
	    ul {
	    	li {
			    display: inline-block;
			}
	    }
	}
}
footer {
    background: url(../../dist/images/cambodia-1.png);
    padding: 250px 0 0px 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.footer-section {
	ul {
	    display: inline-block;
	    float: left;
	    width: 20%;
	    list-style: none;
        padding: 0;
	    li {
	    	a {
	    		padding: 10px 0;
    			color: #f5f5f5;
    			display: block;
	    	}
	    	h3 {
			    text-transform: uppercase;
			    color: #fff;
			    font-size: 17px;
			}
			h4 {
			    color: #fff;
			    margin-top: 5px;
			    text-transform: uppercase;
			}
	    }
	    &.accept-cards {
	    	li {
	    		a {
	    		    padding: 5px 0;
	    			img {
	    				margin: 0px;
	    				margin: 0px;
					    width: 85px;
					    -webkit-filter: grayscale(100%);
					    filter: grayscale(100%);
					    &:hover {
					    	webkit-filter: grayscale(0%);
					    	filter: grayscale(0%);
					    }
	    			}
	    		}
	    		&.visa-card {
	    			img {
	    				width: 150px;
	    			}
	    		}
	    		&.aba-bank {
	    			img {
	    				width: 50px;
	    			}
	    		}
	    		&.secure-pro {
	    			display: inline-block;
	    			a {
	    		    	padding: 0;
	    		    	img {
    		    		    width: 65px;
	    		    	}
	    		    }
				}
	    	}
	    }
	}
}
