// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.hero-area{
    background: linear-gradient(dodgerblue,#0070DF);
    text-align: center;
    padding: 15px;
    
    min-height: 100vh;
    
    @include media-width(650){ min-height: 40vh }
    
    display: flex;
    margin-bottom: 8em;
    h1,p{
        color: #FFFFFF;
    }
    .hero-content{
        margin: auto;
        text-transform: uppercase;
        span{
            background-color: #fff;
            color: dodgerblue;
            padding: 0 2px;
            border-radius: 3px;
        }
        h1{
            font-size: 6em;
            text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            @include media-width(1109){font-size: 5em;}
            @include media-width(932){font-size: 4em;}
            @include media-width(754){font-size: 3.5em;}
            @include media-width(600){font-size: 2.5em;}
        }
        p{
            font-size: 2em;
            line-height: 2em;
            @include media-width(600){font-size: 1.3em;}
        }
    }
}


.page-title{
	padding: 15px 0;
	margin: 35px auto;
	h1{
		font-size: 75px;
		@include media-width(1999){
			font-size: 60px;
		}
		@include media-width(991){
			font-size: 45px;
		}
		@include media-width(717){
			font-size: 40px;
		}
		@include media-width(642){
			font-size: 30px;
		}
		@include media-width(400){
			font-size: 25px;
		}
		@include media-width(341){
			font-size: 20px;
		}
	}
	@include media-width(599){
		width: 95%;
	}
}


.header-section {
    background: white;
    width: 100%;
    .homepagecontainer {
        padding: 0px;
        .logo {
            padding: 0px;
            img {
                width: 175px;
                margin: 0px 0 0 0;
            }
        }
        .login {
            margin: 20px 0px 0 0;
            padding: 0;
            ul.list-inline {
                li {
                    margin: 0 0 0 40px;
                    a {
                        color: #000;
                        font-size: 15px;
                    }
                }
                .language.dropdown {
                    ul.dropdown-menu {
                        right: -45px;
                        left: auto;
                        top: 30px;
                        li {
                            margin: 0px;
                            a {
                                text-transform: uppercase;
                                text-align: center;
                                padding: 10px;
                                img {
                                    margin: 0 0px 0 15px;
                                    width: 25px;
                                    float: left;
                                }
                            }
                        }
                        &:after {
                            content: '';
                            background-color: #fff;
                            z-index: 100;
                            display: inline-block;
                            position: absolute;
                            border-radius: .1875rem 0 0;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            width: 1rem;
                            height: 1rem;
                            border-top: 1px solid #cbd6e2;
                            border-left: 1px solid #cbd6e2;
                            top: -6px;
                            left: 70px;
                        }
                    }
                }
            }
        }
    }
}
a:focus {
    text-decoration: none;
}
a.theme_btn {
    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 50px;
    clear: both;
    box-shadow: 0px 0px 5px #ccc;
}
a.theme_btn:hover {
    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body.modal-open {
    padding: 0 !important;
    overflow: hidden !important;
    padding-right: 17px !important;
}
body {
    padding: 0 !important;
}
#login_popup, #register_tab, .popup_screens {
    .modal-dialog {
        width: 450px;
        margin: 5em auto;
    }
    .modal-header {
        text-align: center;
        padding: 0;
        h5 {
            padding: 10px;
            font-size: 20px;
            background: -webkit-linear-gradient(#28ee9e, #0db0e2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            opacity: 1;
            color: #19cbc5;
            padding: 8px;
            font-size: 20px;
        }
    }
    .modal-body {
        padding: 15px 0;
        display: inline-block;
        width: 100%;
        ul {
            padding: 0;
            li {
                list-style: none;
            }
            li.col-md-9 {
                padding-left: 0px;
                input {
                    width: 95%;
                }
            }
            li.col-md-3 {
                padding-right: 0px;
            }
        }
        span.fb {
            width: 95%;
            display: block;
            text-align: center;
            background: #4568b2;
            margin: 0 auto;
            margin-bottom: 10px;
            border-radius: 4px;
            img {
                width: 25px;
                height: 25px;
            }
            a {
                color: #fff;
            }
        }
        span.gg {
            width: 95%;
            display: block;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 10px;
            border-radius: 4px;
            border: 2px solid #ccc;
            img {
                width: 25px;
                height: 25px;
            }
            a {
                color: #ccc;
            }
        }
        input {
            width: 90%;
            margin: 0 auto 20px;
            background: transparent;
            border: 0;
            box-shadow: none;
            height: 50px;
            border: 1px solid #f5f5f5;
        }
        button {
            background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
            width: 90%;
            margin: 0 auto;
            border: 0;
            padding: 10px;
            color: #fff;
            font-size: 19px;
            display: block;
            border-radius: 50px;
        }
        a.forget-passy {
            float: right;
        }
        .logib-reg {
            display: block;
            width: 85%;
            margin: 0 auto;
            padding: 20px 0 0 0;
            a {
                background: -webkit-linear-gradient(#28ee9e, #0db0e2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
.header-section .homepagecontainer .login ul.list-inline li.after_logg figure {
    width: 40px;
    height: 40px;
    float: right;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -7px;
    left: 10px;
}
.header-section .homepagecontainer .login ul.list-inline li.after_logg figure img {
    margin: 0;
}
.header-section .homepagecontainer .login ul.list-inline li.after_logg.dropdown ul li {
    margin: 0;
}
.header-section .homepagecontainer .login ul.list-inline li.after_logg.dropdown ul.dropdown-menu:after {
    content: '';
    background-color: #fff;
    z-index: 100;
    display: inline-block;
    position: absolute;
    border-radius: .1875rem 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 1rem;
    height: 1rem;
    border-top: 1px solid #cbd6e2;
    border-left: 1px solid #cbd6e2;
    top: -6px;
    right: 11px;
}
.modal-content {
    webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.modal.fade.in .modal-content {
   -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.nooo-page {
    background: #f7f7f7;
    height: 88vh;
    box-shadow: 0px 0px 10px #cccccc73;
    .page-not {
        text-align: center;
        margin: 50px 0;
        background: #f7f7f7;
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 20px;
        }
    }
}
.error-head .header-section {
    padding-bottom: 10px;
}
.seperta-foot {
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.error-head .header-section, .error-foot {
    background: #f7f7f7;
}
.error-foot footer {
    display: none;
}
.error-foot {
    position: fixed;
    width: 100%;
    bottom: 0;
}
ul.dropdown-menu.notifi-menu {
    min-width: 500px;
    &:after {
        right: 70px !important;
        left: auto !important;
    }
    .notify-find {
        height: 370px;
        overflow-y: auto;
        li {
            height: 58px;
            a {
                text-transform: capitalize !important;
                text-align: left !important;
                padding: 0 !important;
                display: inline-block;
                width: 100%;
                img {
                    width: auto !important;
                }
                &:hover {
                    background: #f5f5f5;
                }
            }
        }
    }
    h3 {
        padding: 10px;
        margin: 0;
        font-size: 17px;
        border-bottom: 1px solid #ccc;
    }
    .Notifi-sec {
        padding: 5px 10px;
        border-bottom: 1px solid #f5f5f5;
        .user-image {
            margin-right: 10px;
        }
        .Notifi-cnt {
            display: inline-block;
            width: 86%;
            float: left;
        }
    }
}
.login-passy {
    display: inline-block;
    width: 100%;
    position: relative;
}
.login-passy span {
    position: absolute;
    right: 35px;
    top: 15px;
    cursor: pointer;
}
ul.dropdown-menu.notifi-menu .notify-find::-webkit-scrollbar {
  width: 5px;
}
ul.dropdown-menu.notifi-menu .notify-find:hover::-webkit-scrollbar-thumb {
 background: #ccc;
}
ul.dropdown-menu.notifi-menu .notify-find:hover::-webkit-scrollbar-track {
 box-shadow: inset 0 0 0px grey;
}
ul.dropdown-menu.notifi-menu .notify-find::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  scroll-behavior: smooth;
}
ul.dropdown-menu.notifi-menu .notify-find::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}
.header-section .homepagecontainer .login ul.list-inline li ul.dropdown-menu {
    left: -40px;
}
.header-section .homepagecontainer .login ul.list-inline li ul.dropdown-menu li a {
    padding: 10px;
}
.header-section .homepagecontainer .login ul.list-inline li ul.dropdown-menu li a i {
    border-radius: 50px;
    padding: 10px;
    margin-right: 10px;
    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
    color: #fff !important;
}