// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.banner-area {
    background-image: url(../../dist/images/svg/banner.svg);
    background-position: 50%;
    background-size: auto;
    height: 450px;
    .banner-content {
	    text-align: center;
	   	background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
    	background: linear-gradient(to right, rgba(71, 201, 201, 0.90) 5%, rgba(129, 207, 139, 0.90) 100%);
	    height: 450px;
        padding: 75px 0;
	    h1 {
		    margin: 0;
		    color: #fff;
	        font-size: 47px;
	    }
	    h2 {
		    color: #fff;
		    margin-top: 15px;
    		margin-bottom: 60px;
    		font-size: 21px;
	    }
	    .select-area {
		    padding: 0;
		    display: inline-block;
		    width: auto;
		    .select-place {
			    float: left;
			    button {
				    height: 54px;
				    background: #fff;
				    width: 170px;
				    padding: 0px;
				    i.icon-send {
					    margin: 3px 5px;
					    font-size: 15px;
					}
					i.icon-chevron-down {
					    margin-left: 5px;
					}
				}
				.dropdown-menu {
				    width: 170px;
				    top: 96%;
				    padding: 0;
				    height: 204px;
				    overflow-y: scroll;
				    a {
					    display: block;
					    text-align: center;
					    border-bottom: 1px solid;
					    padding: 10px;
					    color: #000;
					    font-size: 15px;
					    &:last-child {
						    border: 0;
						}
						&:hover {
							background: #333;
							color: #fff;
						}
					}
				}
			}
			.enter-area {
			    float: left;
			    width: 410px;
			    height: auto;
			    margin-left: 20px;
		        position: relative;
			    input {
				    height: 54px;
				    border-color: #fff;
				    box-shadow: none;
				}
				b {
					text-align: left;
				    display: block;
				    margin: 10px;
				    color: #fff;
				    font-weight: 500;
				}
			}
		}
	}
}
.service-provided {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    ul {
    	width: 1170px;
	    margin: 0 auto;
	    padding: 0;
    	li {
    		cursor: pointer;
    		display: inline-block;
    		margin: 0 23px;
	        opacity: 0.7;
		    &:hover {
			    opacity: 1;
		    }
    		svg, img {
			    width: 50px;
		        fill: #47c9c8;
			    height: 50px;
			}
			h6 {
			    font-size: 15px;
    			text-transform: capitalize;
			}
    	}
    }
}
button:focus {
    outline: 0px !important;
}
.listof-services {
	.owl-carousel {
	    padding: 0;
	}
	.owl-nav {
		button {
		    position: absolute;
		    top: 20%;
    		border-radius: 50%;
		    span {
			    color: #fff;
			    font-size: 32px;
			    padding: 0 18px;
			    position: relative;
			    top: -2px;
			    right: -1px;
			}
		}
		button.owl-prev {
		    left: -60px;
		    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
	        border: 1px solid #f5f5f5;
   			box-shadow: 0px 0px 2px #ccc;
		}
		button.owl-next {
		    right: -60px;
		    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
		    border: 1px solid #f5f5f5;
   			box-shadow: 0px 0px 2px #ccc;
		}
		button:hover {
			    background: transparent;
		    span {
		    	background: -webkit-linear-gradient(#28ee9e, #0db0e2);
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
		    }
		}
		button.owl-prev.disabled {
		    display: none;
		}
		button.owl-next.disabled {
		    display: none;
		}
	}
	.item {
		figure {
		    height: 140px;
		    width: 269px;
		    overflow: hidden;
		    border-radius: 4px;
		    display: flex;
		    align-items: center;
		}
		.narrow-content-box a {
		    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		    font-weight: bold;
		}
	}
	h3 {
		font-size: 20px;
    	margin: 25px 0;
    	background: -webkit-linear-gradient(#28ee9e, #0db0e2);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	}
}
.review-section {
    padding: 0;
    h2 {
    	font-size: 26px;
    	text-align: center;
    	margin: 36px 0;
    	background: -webkit-linear-gradient(#28ee9e, #0db0e2);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    ul {
	    padding: 0;
	    margin-bottom: 30px;
	    li {
		    width: 48%;
		    display: inline-block;
		    margin: 1% 1% 1% 0;
		    border-radius: 5px;
		    padding: 20px;
	        box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.05);
	        .review-name {
			    float: left;
			    width: 30%;
			    figure {
				    width: 100px;
				    height: 100px;
				    border-radius: 50%;
				    overflow: hidden;
				    display: flex;
				    align-items: center;
			        margin: 0 auto;
				}
				h3 {
			    	font-size: 18px;
				}
				h4 {
			    	font-size: 15px;
			    	font-weight: 500;
				}
			}
			p {
    		    margin-top: 12px;
			    width: 66%;
			    font-size: 15px;
			    margin-left: 20px;
			    float: left;
			    word-wrap: break-word;
			    overflow: hidden;
			    max-height: 10.2em;
			    line-height: 26px;
			}
		}
	}
 	a.text-center {
	    display: block;
        background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
	    width: 16%;
	    margin: 0 auto;
	    text-align: center;
	    padding: 13px;
	    margin-top: 20px;
	    border-radius: 50px;
	    overflow: hidden;
	    color: #fff;
	    box-shadow: 0px 0px 5px #ccc;
	    &:hover {
	    	background: -webkit-linear-gradient(#28ee9e, #0db0e2);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
	    }
	}
}
.download-app {
    background-color: #f9f9f9;
    display: inline-block;
    width: 100%;
    margin: 30px auto;
    padding: 30px 0;
    border-top: 1px solid #cccccc7a;
    border-bottom: 1px solid #cccccc7a;
    .google-ios {
	    margin: 50px 0px 0 0px;
	    width: 50%;
	    float: right;
	    h3 {
	    	font-size: 26px;
		    color: #242424;
		    margin: 20px 0;
		    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
	    }
	    ul {
		    padding: 0;
		    li {
			    display: inline-block;
			    margin-right: 30px;
			}
		}
	}
}
.typing-showup {
    width: 100%;
    background: #fff;
    padding: 0;
    text-align: left;
    position: absolute;
    z-index: 999999;
    top: 58%;
    left: 0;
    max-height: 465px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.26);
    box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.26);
    display: none;
    &.is-active {
    	display: block !important;
    }
	a {
	    display: inline-block;
	    border-bottom: 1px solid rgba(67, 67, 67, 0.17);
	    padding: 10px 15px;
	    width: 100%;
		font-size: 15px;
		margin: 0;
		font-weight: 500;
		color: #333;
		&:hover {
			background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
    		background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
			color: #fff;
		    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
		    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
		}
		img {
			width: 20px;
    		margin: 0 5px;
		}
	}
}
.store-area {
    background: #fafafa;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .google-play {
    	.custom-link {
			margin: 100px 0 0;
			a {
				margin: 0 20px 0 0;
				img {
				    width: 126px;
				}
			}
    	}
    }
}
div#show_services, div#confirm_services {
	.services-list {
	    background: #fff;
	    display: inline-block;
    	width: 100%;
    	.desktop-hide {
    		display: none;
    	}
	    .name-service {
	        padding: 0;
            background: #fafafa;
	    	a {
		    	display: inline-block;
    			width: 100%;
			    padding: 10px;
	    		svg, img {
			        width: 25px;
				    fill: #47c9c8;
				    height: 45px;
				    float: left;
				    margin: 0 10px;
				}
				h6 {
				    font-size: 14px;
				    float: left;
	    			text-transform: capitalize;
    			    margin-top: 15px;
				}
				&.active {
					background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
    				color: #fff !important;
    				svg,img, h6 {
    					fill: #fff;
					    color: #fff;
    				}
				}
	    	}
	    }
	    .select-service {
	    	padding: 0;
	    	a.service-provide {
		    	display: inline-block;
    			width: 100%;
			    padding: 1px 10px;
	    		svg, img {
			        width: 25px;
				    fill: #47c9c8;
				    height: 45px;
				    float: left;
				    margin: 0 10px;
				}
				h6 {
				    font-size: 14px;
				    float: left;
	    			text-transform: capitalize;
				}
				&.active {
					background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
    				color: #fff !important;
    				svg,img, h6 {
    					fill: #fff;
					    color: #fff;
    				}
				}
				&:hover {
					background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100);
				}
	    	}
	    	.list-of-services {
			    max-height: 415px;
			    overflow-y: auto;
			}
	    }
	}
}
div#confirm_services .services-list .select-service .list-of-services .form-area label img {
    width: 100px;
    margin-left: 13px;
}
div#confirm_services .services-list .select-service .list-of-services {
    text-align: center;
}
div#confirm_services .services-list .select-service .list-of-services img {
    width: 300px;
}
div#confirm_services .services-list .select-service .list-of-services p {
    text-align: justify;
    margin: 0 20px;
}
div#confirm_services {
	.tasker-prof {
	    clear: both;
		h3 {
		    font-size: 21px;
		    padding: 10px;
		    margin: 0;
		    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		}
		.task-info {
		    padding: 20px;
		    box-shadow: 2px 2px 10px #dddd;
		    width: 90%;
		    margin: 0 auto 20px;
		    figure {
		    	width: 100px;
			    height: 100px;
			    border-radius: 50%;
			    overflow: hidden;
			    display: flex;
			    align-items: center;
			    float: left;
				margin-right: 20px;
		    }
		    span {
		    	text-align: right;
			    display: block;
			    font-size: 30px;
			    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
			    font-weight: 600;
		    }
		}
		input {
	    	background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
		    width: 35%;
		    display: block;
		    text-align: center;
		    padding: 13px;
		    color: #fff;
		    border-radius: 4px;
		    margin: 10px auto;
		    border: 0;
	    }
	}
}
.emergency-deisgn {
    background: url(../../dist/images/emergency.jpg);
    padding: 30px 0;
    height: auto;
    background-size: cover;
    position: relative;
    &:before {
    	content: "";
	    background: rgba(0, 0, 0, 0.5);
	    position: absolute;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    display: block;
    }
    .list-of-services {
	    position: relative;
	    h2 {
	    	color: #fff;
    		text-align: center;
	    }
	    ul {
    	    padding: 0;
    	    li {
	    	    display: inline-block;
			    text-align: center;
			    background: #ddd;
			    width: 14.82%;
			    margin: 9px;
			    border-top-left-radius: 1.5em;
    			border-bottom-right-radius: 1.5em;
    			figure {
    				width: 70px;
    				margin: 10px auto;
    			}
    			h3 {
    				margin: 10px 0;
    				font-size: 20px;
    			}
    			a {
    				margin: 10px 0;
				    display: block;
    				font-size: 17px;
    			}
    	    }
	    }
    }
}
div#confirm_taskservice {
	.service-pay {
		background-color: #f4f4f4;
	    text-align: center;
	    width: 100%;
	    margin: 0 auto;
	    .service-provider {
    		background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
		    padding: 20px;
			figure {
				width: 100px;
			    height: 100px;
			    border-radius: 50%;
			    overflow: hidden;
			    display: flex;
			    align-items: center;
		        margin: 0 auto;
			}
			h4, h2, p {
				color: #fff;
			}
		}
		.pay-type {
		    padding: 10px 10px 20px;
			p {
			    font-size: 20px;
			    font-weight: 700;
			    font-style: italic;
			}
			button {
				background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
			    border: palegoldenrod;
			    padding: 10px;
			    width: 35%;
			    margin: 0 10px;
			    border-radius: 5px;
			    color: #fff;
			}
		}
	}
}
