.become-proff {
    background: url(../../dist/images/business.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center center;
    padding: 100px 0;
    .serv-buss {
	    padding: 0;
	    .col-md-8 {
	    	 padding: 0;
	    	 h3 {
    	 	    font-size: 45px;
    			color: #fff;
			    margin-top: 0;
	    	 }
	    	 p {
    	 	    font-size: 20px;
   				color: #fff;
	    	 }
	    	 ul {
			    padding: 0;
			    margin: 100px 0 0 0;
			    li {
				    display: inline-block;
				    width: 33%;
				    b {
				    	font-size: 28px;
    					color: #fff;
				    }
				    p {
				    	font-size: 14px;
				    }
				}
			}
	    }
	    .col-md-4 {
	    	border: 1px solid #f5f5f5;
		    border-radius: 2px;
		    background-color: #f5f5f5;
	        padding: 20px;
		    h4 {
		    	font-size: 20px;
    			font-weight: 400;
		    }
		    label {
		    	width: 100%;
    			margin: 10px 0;
    			select {
				    height: 48px;
    			}
		    }
		    ul {
		    	padding: 0;
		    	margin: 0px 0 10px 0;
			    display: inline-block;
			    width: 100%;
		    	li {
		    		padding: 0;
		    		display: inline-block;
	    		    margin: 10px 0;
		    		input {
		    			height: 48px;
		    			width: 90%;
		    		}
		    		&.col-md-6 {
		    			&:first-child {
			    			width: 47%;
	    					margin-right: 10px;
			    		}
			    		input {
			    			width: 100%;
			    		}
		    		}
		    		&.col-md-9 { 
		    			input {
			    			width: 100%;
			    		}
		    		}
		    		&.col-md-12 { 
		    			input {
			    			width: 100%;
			    		}
		    		}
		    	}
		    }
		    input[type="submit"] {
			    width: 100%;
			    height: 48px;
			    border: 0;
			    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
			    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
			    color: #fff !important;
			    padding: 10px 20px;
			    border-radius: 50px;
			    box-shadow: 0px 0px 5px #ccc;
			    &:hover {
			        background: -webkit-linear-gradient(#28ee9e, #0db0e2);
			        -webkit-background-clip: text;
			        -webkit-text-fill-color: transparent;
			    }
			}
	    }
	}
}
.app-steps {
    padding: 100px 0;
	.ph-img {
		padding: 0px;
		figure {
		    width: 225px;
		}
	}
	.step-three {
		ul {
			li {
			    margin-top: 60px;
		        cursor: pointer;
		        display: inline-block;
    			width: 100%;
			    i {
				    float: left;
				    font-size: 25px;
				    font-style: normal;
				    border: 1px solid;
				    padding: 10px 20px;
				    border-radius: 50px;
				    margin-right: 40px;
				}
				&:hover {
					i {
						color: #fff;
					    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
					    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
					}
				}
				b {
				    font-size: 20px;
				    margin: 0px 0 10px 0;
				    display: block;
				}
			}
		}
	}
}
.service-special {
    padding: 0;
    background-color: #f5f5f5;
    .fav-service {
	    padding: 0;
	    .dance-deta {
	    	padding: 0;
	    	figure {
	    		float: left;
			    width: 300px;
			    position: relative;
			    top: -70px;
			    height: 450px;
			    left: 0;
	    	}
	    	p {
	    		margin: 100px 0 0 0;
    			line-height: 30px;
	    	}
	    	h3 {
    		    font-size: 19px;
	    	}
	    	span {
    		    display: block;
	    	}
	    	small {
	    		font-size: 13px;
			    margin: 5px 0 0 0;
			    display: block;
			    color: #989898;
	    	}
	    }
	    .form-signup { 
    	    margin: 100px 0 0 0;
	        background: rgba(107, 134, 110, 0.75);
		    border-radius: 4px;
		    padding: 40px 20px;
		    p {
		    	color: #fff;
    			font-size: 15px;
		    }
		    label {
		    	width: 100%;
    			margin: 30px 0;
    			select {
				    height: 48px;
    			}
		    }
		    input[type="submit"] {
			    width: 100%;
			    height: 48px;
			    border: 0;
			    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
			    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
			    color: #fff !important;
			    padding: 10px 20px;
			    border-radius: 50px;
			    box-shadow: 0px 0px 5px #ccc;
			    &:hover {
			        background: -webkit-linear-gradient(#28ee9e, #0db0e2);
			        -webkit-background-clip: text;
			        -webkit-text-fill-color: transparent;
			    }
			}
	    }
	}
}
.why-partner {
    padding: 50px 0;
    text-align: center;
    h3 {
	    font-size: 28px;
	}
    ul {
	    margin: 75px;
	    li {
		    display: inline-block;
		    width: 33%;
		    i {
			    font-size: 35px;
			    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
			    padding: 25px;
			    display: inline-block;
			    border-radius: 50px;
			    color: #fff;
			    margin-bottom: 40px;
			}
		}
	}

}
.trusted-by {
    background-color: #f5f5f5;
    padding: 0px;
    .owner-list {
	    padding: 25px 0;
	    text-align: center;
	    ul {
	    	padding: 0;
   			margin: 50px 0;
   			li {
			    display: inline-block;
			    width: 30%;
			    background: #fff;
			    padding: 30px 20px;
			    margin: 0 1.5%;
			    vertical-align: middle;
			    -webkit-transform: perspective(1px) translateZ(0);
			    transform: perspective(1px) translateZ(0);
			    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			    position: relative;
			    -webkit-transition-property: color;
			    transition-property: color;
			    -webkit-transition-duration: 0.3s;
			    transition-duration: 0.3s;
			    cursor: pointer;
			    &:focus:before, &:hover:before {
			    	-webkit-transform: scaleX(1);
			    	transform: scaleX(1);
			    }
			    &:hover {
			    	span, h3, p {
			    		color: #fff;
			    	}
			    }
			    &:before {
			    	content: "";
				    position: absolute;
				    z-index: -1;
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
				    -webkit-transform: scaleX(0);
				    transform: scaleX(0);
				    -webkit-transform-origin: 50%;
				    transform-origin: 50%;
				    -webkit-transition-property: transform;
				    transition-property: transform;
				    -webkit-transition-duration: 0.3s;
				    transition-duration: 0.3s;
				    -webkit-transition-timing-function: ease-out;
				    transition-timing-function: ease-out;
			    }
			    figure {
				    width: 75%;
				    border-radius: 50%;
				    overflow: hidden;
				    height: 230px;
				    display: flex;
				    margin: 0 auto;
				    img {
					    margin: 0;
					}
				}
				h3 {
				    font-size: 20px;
				}
			}
	    }
	}
}
.prof-videos {
    text-align: center;
    padding: 50px 0;
    ul {
	    padding: 0;
	    margin: 50px 0;
	     li {
		    display: inline-block;
		    width: 30%;
		    margin: 0 1.5%;
		    position: relative;
		    cursor: pointer;
		    vertical-align: middle;
		    -webkit-transform: perspective(1px) translateZ(0);
		    transform: perspective(1px) translateZ(0);
		    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		    -webkit-transition-duration: 0.5s;
		    transition-duration: 0.5s;
		    &:hover {
		    	i {
	    		    -webkit-transform: scale(1.2);
				    transform: scale(1.2);
				    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
				    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
			        z-index: 99999;
		    	}
		    	figure:after {
			    	content: "";
			    	background: #3336;
			    	position: absolute;
			    	height: 235px;
			    	z-index: 999;
			    	top: 7px;
			    	width: 100%;
			    	left: 0;
		    	}
		    }
		    i {
			    position: absolute;
			    top: 35%;
			    left: 42%;
			    font-size: 40px;
			    color: #fff;
			    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
			    padding: 11px;
			    border-radius: 50px;
			}
		}
	}
}
#video_popup {
	.modal-dialog {
	    width: 900px;
	}
}
.container-fluid.welcome-page {
    padding: 0;
}
.container.welcome-tit {
    text-align: center;
}
.container.welcome-tit p {
    width: 50%;
    margin: 0 auto;
    line-height: 30px;
}
.container.welcome-tit a {
    margin: 20px 0;
    display: inline-block;
    width: 15%;
}

