/*-----------------Mobile Potrait--------------------*/
@media only screen and (max-width: 767px) {
	.blog-page {
		margin-top: 0;
	}
	.explore_blog_slider .owl-nav {
	    display: none;
	}
	.blog-page .main-blog-area ul li {
	    width: 100%;
		margin-bottom: 15px;
	}
	.blog-page .main-blog-area ul li figure {
	    height: auto;
	}
	.blog-page .main-third-area ul li {
	    width: 94%;
	    margin: 0 auto;
	    display: block;
	}
	.blog-details .left-detail {
	    padding: 0 15px;
	}
	.blog-details .right-recent {
	    padding: 0 15px;
	}
	.blog-details .right-recent .popular-post .display-popular-posts .col-md-3 figure {
	    float: left;
	    margin-right: 20px;
	}
	.cover-space {
		height: auto;
	}
	.cover-space:after {
		height: auto;
	}
	.cover-space .inspire-you {
		padding: 0 0 30px;
	}
	.cover-space .inspire-you h3 {
		margin: 30px 0;
	}
	.blog-moves .explore_blog_slider .item figure {
		width: 100%;
	}
	.blog-moves .explore_blog_slider .narrow-content-box a {
		width: 100%;
		padding: 15px;
	}
}
/*------Mobile Landscape ----------*/
@media only screen and (min-width: 420px) and (max-width: 767px) {
	.blog-page .main-blog-area ul li {
	    width: 47%;
	}
	.blog-page .main-third-area ul li {
    	width: 49%;
	    text-align: left;
	    display: inline-block;
	}
	.blog-page .main-third-area ul {
	    text-align: center;
        display: inline-block;
    	width: 100%;
	}
	.blog-page .main-third-area ul li figure {
	    height: auto;
	}
}

/*------ Tab Potrait ----------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.blog-page .main-third-area ul li figure {
	    height: auto;
	}
	.blog-page .main-blog-area ul li figure {
	    height: auto;
	}
	.blog-details .right-recent .popular-post .display-popular-posts .col-md-3 figure {
	    float: left;
	    margin-right: 20px;
	}
}

/*------ Tab Landscape ----------*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
	.blog-moves .explore_blog_slider .narrow-content-box a {
	    padding: 23px 0;
	    width: 40%;
	}
	.blog-page .main-third-area ul li figure {
	    height: auto;
	}
	.blog-page .main-blog-area ul li figure {
	    height: auto;
	}
	.blog-details .right-recent .popular-post .display-popular-posts .col-md-3 figure {
        width: 65px;
	}
}