.cover-space {
    padding: 0;
    background: url(../../dist/images/Company_Blog.jpg);
    height: 350px;
    background-size: auto;
    position: relative;
    margin-bottom: 35px;
    &:after {
    	content: "";
	    background: rgba(51, 51, 51, 0.40);
	    position: absolute;
	    width: 100%;
	    height: 350px;
	    top: 0;
    }
    .inspire-you {
    	z-index: 111;
	    position: relative;
	    text-align: center;
        padding: 30px 0;
	    h3 {
    	    color: #fff;
		    font-size: 35px;
		    letter-spacing: 1px;
	        margin: 50px 0;
	    }
	    label {
    	    width: 75%;
    	    position: relative;
    	    input {
    	    	width: 100%;
			    height: 60px;
			    padding: 10px 10px 10px 50px;
			    border: 0;
			    border-radius: 5px;
    	    }
    	    i {
    	    	position: absolute;
			    left: 10px;
			    top: 11px;
			    font-size: 30px;
    	    }
	    }
    }
}
.blog-page {
    padding: 0;
    margin: 20px auto;
    .main-blog-area {
	    display: inline-block;
	    width: 100%;
	    ul {
		    padding: 0;
		    li {
			    display: inline-block;
			    width: 47.5%;
			    position: relative;
			    margin: 0 1%;
			    figure {
				    width: 100%;
				    height: 350px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    overflow: hidden;
				    position: relative;
				    img {
			    	    width: 100%;	
		    	    	-webkit-transition: 0.4s ease;
						transition: 0.4s ease;
						&:hover {
							-webkit-transform: scale(1.08);
		  					transform: scale(1.08);
						}
				    }
				}
				.text-depend {
				    position: absolute;
				    bottom: 0;
				    background: linear-gradient(to bottom, rgba(232, 36, 36, 0) 1%, rgba(0, 0, 0, 0.75) 100%);
				    padding: 37px 20px 10px;
				    height: 150px;
				    a {
			    	    display: block;
				    }
				    b {
			    	    color: #fff;
	    				text-transform: uppercase;
				    }
				    h3 {
				    	margin: 10px 0;
					    color: #fff;
					    word-wrap: break-word;
					    overflow: hidden;
					    height: 47px;
					    margin-bottom: 0;
					    line-height: 24px;
				    }
				}
			}
		}
	}
	.main-third-area {
		display: inline-block;
	    width: 100%;
		ul {
			padding: 0;
			li {
				width: 31%;
				display: inline-block;
				margin: 0 1% 3%;
			    position: relative;
				figure {
				    width: 100%;
				    height: 250px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    overflow: hidden;
				    position: relative;
				    cursor: pointer;
				    img {
			    	    width: 100%;	
		    	    	-webkit-transition: 0.4s ease;
						transition: 0.4s ease;
						&:hover {
							-webkit-transform: scale(1.08);
		  					transform: scale(1.08);
						}
				    }
				    &.video-seg {
				    	i {
				    		position: absolute;
						    bottom: 13px;
						    left: 10px;
						    color: #fff;
						    font-size: 30px;
						    border: 2px solid #fff;
						    border-radius: 50px;
						    padding: 3px;
				    	}
				    }
				}
				span {
				    position: absolute;
				    top: 10px;
				    z-index: 99;
				    right: 10px;
				    cursor: pointer;
				    i {
					    font-size: 30px;
					    color: #000;
					}
				}
				.text-head {
				    margin: 10px 0;
				    a {
			    	    display: block;
				    }
				    b {
					    color: red;
					}
					h3 {
					    margin: 10px 0;
					    line-height: unset;
					    font-size: 18px;
					}
				}
			}
		}
	}
}
.blog-details {
    padding: 0;
    .left-detail {
        padding: 0 30px 0 0;
	    .inside-blog-structure {
	    	h1 {
			    font-size: 27px;
			    color: #000;
			}
			h3 {
				font-size: 19px;
				color: #000;
			}
			p {
				font-size: 14px;
			    line-height: 30px;
			    color: #777;
		        text-align: justify;
			}
	    }
	    .comment-form.form-vertical {
	        margin: 30px 0;
		    .grid.grid--half-gutters {
			    width: 100%;
			    display: inline-block;
			    margin-bottom: 20px;
			    .grid__item.medium-up--one-half {
				    width: 50%;
				    float: left;
				    input {
					    width: 95%;
					    padding: 10px;
					    border-radius: 5px;
					    border: 1px solid #ccc;
					}
				}
			}
			textarea#CommentBody {
				width: 97.5%;
			    padding: 10px;
			    border-radius: 5px;
			    border: 1px solid #ccc;
			}
			input.btn {
			    width: 98%;
			    margin: 20px 0;
			    padding: 10px;
			    background: #989898;
			    color: #fff;
			    text-transform: uppercase;
			    letter-spacing: 1px;
			}
	    }
	}
	.right-recent {
	    padding: 0;
	    .popular-post {
	        clear: both;
		    display: inline-block;
		    margin-bottom: 15px;
	        width: 100%;
	    	h3 {
			    font-size: 17px;
			    color: #000;
		        margin: 20px 0;
			}
			.display-popular-posts {
			    clear: both;
				.col-md-3 {
				    padding: 0;
				    figure {
			    	    width: 80px;
					    height: 100px;
					    display: flex;
				    }
				}
				.col-md-9 {
					padding-right: 0px; 
					h4 {
						a {
						    font-size: 14px;
    						text-transform: uppercase;
						    line-height: 25px;
						}
					}
				}
				&.category-area {
					ul {
					    padding: 0;
					    width: 100%;
					    display: inline-block;
						li {
							text-transform: uppercase;
						    font-weight: normal;
						    letter-spacing: 1px;
						    font-size: 12px;
						    margin-bottom: 10px;
						    line-height: 24px;
					        list-style: none;
						    padding-bottom: 10px;
						    border-bottom: 0.1px solid #ccc;
						    a {
					    	    color: #777;
					    	    i {
					    	    	padding-right: 25px;
					    	    }
						    }
						}
					}
				}
			}
	    }
	}
}
.blog-moves {
    padding: 0;
    .explore_blog_slider {
	    .item {
		    border: 1px solid #f5f5f5;
		    display: inline-block;
		    width: 100%;
		    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0), 0 1px 7px 0 rgba(0, 0, 0, 0.1);
		    figure {
			    width: 110px;
			    height: 70px;
			    float: left;
			    display: flex;
			    margin-right: 10px;
			    img {
				    margin: 0;
				}
			}
		}
		.narrow-content-box {
			a {
	            display: block;
			    font-size: 17px;
			    padding: 23px;
			    color: #989898;
			    width: 55%;
			    float: left;
			    text-align: center;
			}
		}
    	.owl-nav {
    		button {
	    		position: absolute;
			    top: 12%;
		    	border-radius: 50%;
    			span {
    				color: #989898;
				    font-size: 32px;
				    padding: 0 18px;
				    position: relative;
				    top: -2px;
				    right: -1px;
    			}
    		}
    		button.owl-prev {
    			left: -60px;
			    border: 1px solid #989898;
    		}
    		button.owl-prev.disabled, button.owl-next.disabled {
			    display: none;
			}
			button.owl-next {
				right: -60px;
			    border: 1px solid #989898;
			}
    	}
    }
}
.drops-contain {
	display: none;
	&.is-active {
		display: block;
	}
	ul {
	    padding: 0;
	    background: #fff;
	    margin: 3px 0;
	    height: 300px;
	    overflow-y: scroll;
	    border-radius: 5px;
	    li {
		    list-style: none;
		    text-align: left;
		    a {
			    text-align: left;
			    display: inline-block;
			    border-bottom: 1px solid rgba(67, 67, 67, 0.17);
			    padding: 10px 15px;
			    width: 100%;
			    font-size: 15px;
			    margin: 0;
			    font-weight: 500;
			    color: #333;
			    &:hover {
		    	    background: #eee;
			    }
			}
		}
	}
}
@media screen and (max-width: 1366px) {
	.blog-moves .explore_blog_slider .owl-nav button.owl-next {
	    right: -35px;
	}
}
.section-abt {
    border-top: 1px solid #f5f5f5;
    .abt-sev {
    	h3 {
		    font-weight: 400;
		    line-height: 36px;
		    padding-bottom: 3%;
		    text-align: center;
		    font-size: 29px;
		}
		p {
			font-weight: 400;
		    font-size: 14px;
		    line-height: 35px;
		    text-align: justify;
		    margin-bottom: 20px;
		}
    }
}
.add-footernew {
    background-color: #424242;
    margin-bottom: 30px;
    padding: 24px 0;
	h3 {
	    text-transform: uppercase;
	    color: #e2e2e2;
	    font-size: 15px;
        text-align: center;
	}
	ul {
        padding: 0;
        text-align: center;
	    li {
    	    position: relative;
		    display: inline-block;
		    margin-right: 36px;
		    a {
		    	text-decoration: none;
			    display: block;
			    font-size: 16px;
			    line-height: 2;
			    cursor: pointer;
			    padding: 7px 0;
			    color: #bababa;
		    }
		    &:after {
		    	content: "\eb1b";
			    position: absolute;
			    right: -25px;
			    top: 9px;
			    line-height: 2;
			    color: #ddd;
			    font-family: icomoon;
		    }
	    }
	}
}
.invest-area {
    margin-bottom: 20px;
    padding: 0;
	h3 {
		font-weight: 400;
	    line-height: 36px;
	    padding-bottom: 3%;
	    text-align: center;
	    font-size: 29px;
	}
	ul {
	    padding: 0;
	    li {
		    display: inline-block;
		    width: 47.8%;
		    margin: 0 1%;
		    padding: 10px 20px;
		    box-shadow: 0 -9px 21px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
		    border-radius: 5px;
		    background: rgba(245, 245, 245, 0.9);
		    p {
		    	clear: both;
			    font-weight: 400;
			    font-size: 14px;
			    line-height: 30px;
			    text-align: justify;
			    margin-bottom: 20px;
		    }
		    .name-fetch {
			    text-align: center;
			    h4 {
				    font-size: 23px;
				}
			} 
		}
	}
}