@media screen and (max-width: 1366px) {

}
@media screen and (max-width: 1140px) {
	.back-pg .tasker-desk .selet-task .form-sec ul li {
	    min-width: 45%;
	}
	.back-pg .tasker-desk .selet-person .each-tasker .prof-photo ul li svg {
	    width: 18px;
	    height: 18px;
	}
	.back-pg .tasker-desk .selet-person .each-tasker .prof-photo a.select-check {
    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
	    padding: 13px 2px;
	}
}
/*-----------------Mobile Potrait--------------------*/
@media only screen and (max-width: 767px) {
	.service-provided ul {
	    width: auto;
	}
	.banner-area .banner-content .select-area .enter-area input {
	    width: 100%;
	}
	div#show_services .services-list .name-service {
	    background: #ddd;
	}
	.banner-area .banner-content .select-area .select-place {
	    width: 100%;
	}
	.banner-area .banner-content .select-area .enter-area {
	    width: 52%;
	    margin-left: 5px;
        visibility: hidden;
	}
	.typing-showup {
	    top: 41%;
        max-height: 100%;
	}
	.banner-area .banner-content .select-area {
	    padding: 0 10px;
	}
	.header-section .homepagecontainer .login ul.list-inline li {
	    margin: 0;
	}
	ul.list-inline.pull-right {
	    float: none !important;
	    text-align: center;
	}
	.header-section .homepagecontainer .logo {
	    padding: 0px;
	    text-align: center;
	}
	.service-provided ul li {
	    width: 35%;
	}
	.listof-services .item figure {
	    height: 190px;
    	width: auto;
	}
	.listof-services h3 {
	    margin: 10px 0 15px;
	}
	.download-app .google-ios {
	    width: auto;
	    float: none;
	    text-align: center;
	}
	.review-section h2 {
	    margin: 0px 0 20px;
	}
	.review-section ul li {
	    width: auto;
	    margin: 10px 5%;
	}
	.review-section a.text-center {
	    width: 51%;
	}
	footer {
	    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
        padding: 0;
	}
	.footer-section ul {
	    width: 50%;
	    min-height: 290px;
	    text-align: center;
	}
	.copyrights .logo-years img {
	    width: auto;
	}
	.copyrights .logo-years {
	    text-align: center;
	}
	.copyrights .social-icons {
	    width: auto;
	    float: none;
	    text-align: center;
	}
	.copyrights .social-icons ul {
	    clear: both;
	    padding: 0;
        margin: 10px 0;
	}
	.copyrights a {
	    float: none;
	}
	#login_popup .modal-dialog {
	    width: 100%;
	}
	#register_tab .modal-dialog {
		width: 100%;
	}
	.listof-services .owl-nav button.owl-next {
	    right: -13px;
	}
	.listof-services .owl-nav button.owl-prev {
	    left: -13px;
	}
	.container {
	    width: 100%;
	    overflow-x: hidden;
	}
	.header-section .homepagecontainer .login ul.list-inline li a {
	    font-size: 14px;
	}
	.banner-area .banner-content .select-area .select-place button {
	    width: 100%;
	}
	.banner-area .banner-content .select-area .select-place .dropdown-menu {
		width: 100%;
	}
	.download-app .google-ios ul li {
	    margin-right: 0;
	}
	#register_tab .modal-body {
	    height: 85vh;
	    overflow-y: scroll;
	}
	body.modal-open {
	    padding: 0 !important;
	}
	.header-section .homepagecontainer .login ul.list-inline li.after_logg.dropdown {
	    margin: 20px 0 0 0;
	    text-align: center;
	}
	.homepagecontainer.container {
	    overflow: visible;
	}
	div#booknow_first .modal-dialog {
	    width: 93%;
	}
	div#booknow_pops .modal-dialog {
	    width: 92%;
	}
	div#booknow_pops .modal-dialog {
	    height: 100vh;
	    overflow-y: scroll;
	}
	div#booknow_pops .modal-dialog .select-location label i {
	    top: 10px;
	}
	.listing-menu .list-navi .navigate-menu nav#mainNav a {
	    padding: 10px;
	    font-size: 17px;
	}
	.listing-menu .list-navi div#both_area .content-views div#customer_review .rate-star .rating-area {
	    width: auto;
	}
	.listing-menu .list-navi div#both_area .content-views div#customer_review .rate-star .rating-area p {
	    margin-left: 0;
	    width: auto;
	}
	.listing-menu .list-navi div#both_area .content-views div#express_faqs .proj-exec {
	    width: auto;
	    border: 1px solid #e2e2e2;
	    margin: 10px;
	}
	.listing-menu .list-navi div#both_area .content-views .page-section {
	    width: 95%;
	    margin: 10px auto;
	}
	.become-proff {
	    height: auto;
	    padding: 20px;
	}
	.become-proff .serv-buss .col-md-8 h3 {
	    font-size: 27px;
	}
	.become-proff .serv-buss .col-md-8 p {
	    font-size: 15px;
	}
	.become-proff .serv-buss .col-md-8 ul {
	    margin: 10px 0;
	}
	.become-proff .serv-buss .col-md-8 ul li {
	    width: auto;
	}
	.become-proff .serv-buss .col-md-4 ul {
	    width: 100%;
        margin-bottom: 10px;
	}
	.become-proff .serv-buss .col-md-4 ul li {
	    width: 100%;
	    margin-bottom: 10px;
	}
	.become-proff .serv-buss .col-md-4 ul li input {
	    width: 100%;
	}
	.become-proff .serv-buss .col-md-4 label {
	    margin: 10px 0;
	}
	.app-steps {
	    padding: 10px 0;
	}
	.app-steps .ph-img figure {
	    margin: 0 auto;
	}
	.step-three ul {
	    padding: 0;
	}
	.app-steps .step-three ul li {
	    margin-top: 10px;
	}
	.app-steps .step-three ul li i {
	    margin-right: 10px;
	}
	.app-steps .step-three ul li p {
	    clear: both;
	}
	.service-special .fav-service .dance-deta figure {
	    float: none;
	    top: 0;
	}
	.service-special .fav-service .form-signup {
	    margin: 10px 0 0 0;
	}
	.why-partner {
	    padding: 0px 0;
	}
	.why-partner ul {
	    margin: 0;
	    padding: 0;
	}
	.why-partner ul li {
	    display: inline-block;
	    width: 100%;
	}
	.why-partner ul li i {
	    margin-bottom: 0;
	}
	.trusted-by .owner-list ul {
	    margin: 10px 0;
	}
	.trusted-by .owner-list {
	    padding: 0;
	    text-align: center;
	}
	.trusted-by .owner-list ul li {
	    width: 90%;
        margin-bottom: 10px;
	}
	.prof-videos {
	    padding: 0px 0;
	}
	.prof-videos ul li {
	    width: 90%;
	}
	.prof-videos ul {
	    padding: 0;
	    margin: 0;
	}
	div#show_services .services-list .desktop-hide {
		display: block;
	    text-align: right;
	    font-size: 25px;
	}
	.emergency-deisgn .list-of-services ul li {
	    width: 44%;
	}
	.become-proff .serv-buss .col-md-4 ul li.col-md-6:first-child {
	    width: 100%;
	}
}

/*------Mobile Landscape ----------*/
@media only screen and (min-width: 420px) and (max-width: 767px) {

}

/*------ Tab Potrait ----------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/*------ Tab Landscape ----------*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {

}