.p-0 {
    padding: 0px;
}

.book-area {
    background: #f5f5f5;

    .send-pack {
        background: #fff;
        padding: 10px 15px;
        border-radius: 10px;
        margin: 15px 0;

        h3 {
            margin: 10px 0;
            font-size: 21px;
            font-weight: 600;
            text-transform: capitalize;
        }

        p {
            color: #989898;
        }

        .pick-up {
            cursor: pointer;
            position: relative;
            width: 90%;
            margin: 15px 0 35px;
            padding-left: 50px;

            &.active {
                input {
                    border-color: green;
                }
            }

            span {
                display: block;
                margin: 10px 0px 0px;
                color: #989898;
                font-size: 13px;
                font-weight: 600;

                b {
                    color: red;
                }
            }

            input {
                width: 100%;
                font-size: 20px;
                padding: 10px 50px 10px 0;
                border: 0;
                border-bottom: 2px solid #989898;
                background: transparent;
                cursor: pointer;
                opacity: 0.3;

                &:focus {
                    outline: 0;
                }
            }

            i {
                position: absolute;
                right: 15px;
                bottom: 15px;
                color: #989898;
                font-size: 20px;
            }
        }

        .form-area {
            padding-left: 50px;
            width: 90%;
            margin: 50px 0 20px 0;
            position: relative;

            label {
                width: 100%;
            }

            input {
                width: 100%;
                padding: 15px 0px 15px 50px;
                background: #f5f5f5;
                border: 0;
                border-radius: 5px;

                &:focus {
                    outline: 0;
                }
            }

            i {
                position: absolute;
                left: 65px;
                bottom: 20px;
                color: #989898;
                font-size: 20px;
            }
        }

        .by-confirm {
            padding-left: 50px;
            margin: 15px 0;
        }

        a.conf-btn {
            margin-left: 50px;
            border: 0;
            // background: linear-gradient(to right, #6dcbdb 5%, #b159ea 100%);
            padding: 10px;
            color: #fff;
            border-radius: 50px;
            width: 25%;
            display: inline-block;
            text-align: center;
        }
    }
}

.some-dos {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0;

    h3 {
        margin: 10px 0;
        font-size: 17px;
        font-weight: 600;
        text-transform: capitalize;
    }

    .no-pur {
        b {
            color: #333;
        }

        p {
            font-size: 13px;
            color: #989898;
        }
    }
}

.inv-pdf {
    ul {
        padding: 0 0 0 15px;

        li {
            font-size: 13px;
            color: #989898;
        }
    }

    hr {
        margin: 10px 0;
    }

    .serv-fee {

        span,
        strong {
            float: right;
            font-weight: 600;
        }

        b {
            float: left;
        }

        display: inline-block;
        width: 100%;
    }
}

div#pick_modal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                text-align: center;

                h3 {
                    display: inline-block;
                    font-size: 20px;
                    font-weight: 600;
                    margin: 0px auto 10px;
                }

                .enter-addr {
                    position: relative;

                    input {
                        width: 70%;
                        padding: 10px 10px 10px 45px;
                        border-radius: 50px;
                        border: 1px solid #f5f5f5;
                        background: #f5f5f5;

                        &:focus {
                            outline: 0;
                        }
                    }

                    i {
                        position: absolute;
                        left: 14%;
                        top: 10px;
                        font-size: 20px;
                        color: #ccc;
                    }
                }

                .map-geo {
                    margin: 10px 0;

                    a {
                        color: #989898;
                    }

                    i {
                        color: green;
                        margin-right: 5px;
                    }
                }

                .no-data {
                    img {
                        width: 100px;
                    }
                }

                .not-found {
                    width: 75%;
                    margin: 10px auto;

                    img {
                        width: 100px;
                        display: block;
                        text-align: center;
                        margin: 10px auto;
                    }

                    h3 {
                        margin: 10px 0;
                        color: #333;
                        font-size: 17px;
                        font-weight: 600;
                    }

                    p {
                        color: #989898;
                    }
                }

                .user-details {
                    display: inline-block;
                    width: 100%;

                    .form-area {
                        position: relative;
                        width: 45%;
                        float: left;
                        margin: 0 2.5% 5%;

                        label {
                            width: 100%;
                            text-transform: uppercase;
                            color: #989898;
                            font-size: 13px;
                            text-align: left;
                            margin: 0;

                            b {
                                color: red;
                            }
                        }

                        input {
                            width: 100%;
                            padding: 10px 0px 10px 40px;
                            border: 0;
                            border-bottom: 2px solid #989898;
                        }

                        i {
                            position: absolute;
                            left: 10px;
                            bottom: 15px;
                            color: #989898;
                            font-size: 20px;
                        }

                        select {
                            padding: 10px;
                            border-radius: 5px;
                            width: 100%;
                            margin: 10px 0 0;
                        }

                        .each-radio {
                            text-align: left;
                            margin: 15px 0;
                            display: inline-block;
                            width: 49%;

                            label {
                                input {
                                    display: inline-block;
                                    width: auto !important;
                                    margin-right: 5px;
                                }
                            }
                        }

                        .custom-file {
                            input {
                                padding-left: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.prof-banner {
    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
    height: 250px;
}

.add-addr {
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: -150px;

    h2 {
        color: #fff;
        font-weight: 700;
        font-size: 25px;
    }
}

.add-account {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;

    h3 {
        margin: 0;
        font-size: 19px;
        font-weight: 700;
    }
}

.name-frst .form-area {
    width: 50%;
    float: left;
    margin: 0 0 15px;

    label {
        display: block;
        font-weight: 500;
        color: #989898;
        width: 100%;
        margin-bottom: 10px;
        font-size: 13px;
    }

    input {
        width: 90%;
        padding: 10px;
        border-radius: 5px;
        border: 0.5px solid #ccc;
    }
}

.save-submit {
    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
    padding: 11px;
    margin: 10px 0;
    border: 0;
    width: 25%;
    border-radius: 5px;
    color: #fff;
}

.add-addr.in-addr {
    width: 60%;

    .add-account {
        display: inline-block;
        width: 100%;
    }
}

.new-addr {
    padding: 56px;
    width: 48%;
    margin-right: 2%;
    float: left;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #f5f5f5;
    text-align: center;

    h3 {
        background: linear-gradient(to right, #6dcbdb 5%, #b159ea 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.addr-one {
    padding: 10px;
    width: 48%;
    margin: 0 1% 3% 1%;
    float: left;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #f5f5f5;

    h3 {
        font-size: 16px;
        margin-bottom: 10px;

        i.ic-1 {
            background: linear-gradient(to right, #6dcbdb 5%, #b159ea 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-right: 5px;
        }

        i.ic-2 {
            color: green;
            margin-right: 5px;
            font-size: 13px;
        }

        i.ic-3 {
            color: red;
            font-size: 13px;
        }
    }

    p {
        color: #ccc;
        margin-bottom: 5px;
        font-size: 13px;
    }
}

.ord-history {
    width: 75%;
}

.check-history {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom: 20px;

    h4 {
        margin: 0 0 10px;
        font-size: 17px;
        font-weight: 700;
        background: linear-gradient(to right, #6dcbdb 5%, #b159ea 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h3 {
        font-size: 15px;
        margin: 5px 0;
    }

    ul {
        padding: 20px 0;

        li {
            display: inline-block;
            width: 49%;

            p {
                color: #989898;
                font-size: 13px;
                text-transform: capitalize;
            }
        }

        button {
            background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
            padding: 10px;
            margin: 0;
            border: 0;
            width: 19%;
            border-radius: 50px;
            color: #fff;
        }

        span {
            margin: 10px 0;
            display: block;
            color: #5cb85c;
            font-weight: 700;
        }
    }
}

.check-history ul li img {
    width: 190px;
    margin: 0;
}

.check-history ul li {
    float: left;
    width: 21%;
    margin-right: 15px;
}

.check-history ul li:nth-child(2) {
    width: 75%;
}


.add-account .displ-pic {
    height: 155px;
    border: 0;
    padding: 0;
}

.add-account .displ-pic .show-image.editzz {
    top: -10px;
    left: 35%;
}

@media only screen and (max-width: 767px) {
    .check-history ul li {
        width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .check-history ul li:nth-child(2) {
        text-align: left;
        width: 100%;
        margin: 20px 0;
    }

    .check-history ul button {
        width: auto;
    }

    .add-addr {
        width: auto;
    }

    .add-account .displ-pic .show-image.editzz {
        top: -10px;
        left: 26%;
    }

    .name-frst .form-area {
        width: 100%;
    }
}

.no-order {
    text-align: center;
}
.no-order img {
    width: 300px;
}
.no-order a {
    margin: 10px 0;
    display: inline-block;
}