.inte-deisgn {
    background: url(../../dist/images/interior.jpg);
    padding: 30px 0;
    height: 600px;
    background-size: cover;
    background-position: center center;
    position: relative;
    &:after {
    	content: "";
	    background: rgba(0, 0, 0, 0.51);
	    position: absolute;
	    top: 0;
	    width: 100%;
	    height: 600px;
    }
    ul {
        z-index: 1;
        position: relative;
    	h2 {
    		color: #fff;
    		margin: 35px 0;
    		font-size: 23px;
    	}
	    text-align: center;
	    padding: 0;
	    li {
		    display: inline-block;
		    width: 261px;
		    background: #fff;
		    padding: 15px;
		    border-radius: 5px;
		    margin: 0 14px;
		    figure {
		    	height: 225px;
	    	    overflow: hidden;
		    	img {
		    		transition: all .2s ease-in-out;
		            cursor: pointer;
			        &:hover {
		        	    transform: scale(1.2);
			        }
		    	}
		    }
		    img {
			    margin: 0;
			}
			span {
				position: absolute;
			    right: 10px;
			    padding: 10px 10px 15px 15px;
			    border-bottom-left-radius: 50px;
			    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
			    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
			    color: #fff;
			    font-weight: 600;
			    font-size: 17px;
		        z-index: 99;
			}
			h3 {
			    font-size: 20px;
			    display: block;
			    word-wrap: break-word;
			    overflow: hidden;
			    height: 47px;
			    margin-bottom: 0;
			    line-height: 1.2em;
			}
			a {
			    clear: both;
			    width: 100%;
			    display: block;
			    margin: 15px 0 0 0;
			    font-size: 17px;
			}
		}
		.item {
			transition: all .2s ease-in-out;
            cursor: pointer;
	        &:hover {
        	    transform: scale(1);
	        }
		}
		.owl-nav {
		    font-size: 30px;
		    color: #fff;
		}
		.owl-nav button {
		    position: absolute;
		    top: 35%;
		    right: -29px;
		}
		.owl-nav button.owl-prev {
		    left: -25px;
		}
		.owl-nav button span {
		    font-size: 50px;
		}
		button.owl-prev.disabled, button.owl-next.disabled {
		    display: none;
		}
	}
}
.listing-menu {
    padding: 0;
    background-color: #f5f5f5;
    .list-navi {
	    padding: 0;
	    .navigate-menu {
		    nav#mainNav {
			    background-color: #fff;
			    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
			    padding: 0;
			    a {
				    padding: 22px;
				    display: inline-block;
				    font-size: 19px;
		            background: -webkit-linear-gradient(#28ee9e, #0db0e2);
				    -webkit-background-clip: text;
				    -webkit-text-fill-color: transparent;
				    &.active {
			    	    border-bottom: 4px solid #17c8c7;
				    }
				}
			}
			&.affix {
			    top: 0;
			}
		}
		div#both_area {
		    padding: 0;
		    .content-views {
			    margin: 20px 0;
			    .page-section {
				    border: 1px solid #e2e2e2;
				    background: #fff;
				    margin-bottom: 32px;
    				border-radius: 4px;
				    h2 {
				    	font-size: 23px;
					    padding: 20px;
					    border-bottom: 1px solid #e2e2e2;
					    margin: 0;
					    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
					    -webkit-background-clip: text;
					    -webkit-text-fill-color: transparent;
				    }
				}
				div#why_idoor, div#express_faqs {
					.proj-exec {
						display: inline-block;
    					width: 100%;
					    border-bottom: 1px solid #e2e2e2;
						h3 {
							font-size: 19px;
    						margin: 20px;
						    cursor: pointer;
						}
						img {
						    width: 25px;
						}
						ul {
						    margin: 10px;
						    li {
						    	margin: 10px;    
						    	color: #757575;
						    }
						}
						p {
					    	margin-left: 45px;
						    color: #757575;
						    line-height: 30px;
					    }
					    .collapse.in {
						    display: flow-root;
						}
					}
				}
				div#how_works {
					.work-space {
						ul {
						    border-top: 1px solid #e2e2e2;
						    padding: 20px;
						    li {
							    display: inline-block;
							    vertical-align: middle;
							    i {
								    font-size: 30px;
								    border: 2px solid #e2e2e2;
								    padding: 10px;
								    border-radius: 50px;
								    margin-right: 20px;
								    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
								    -webkit-background-clip: text;
								    -webkit-text-fill-color: transparent;
								}
								img {
								    width: 25px;
								}
							}
						}
					}
				}
				div#customer_review {
				    float: left;
			        width: 100%;
					.rate-star {
					    padding: 20px;
				        float: left;
			            width: 100%;
					    h3 {
						    margin: 0 0 10px;
						    font-size: 21px;
						}
						p {
						    color: #989898;
						}
						h4 {
						    color: #989898;
						    font-weight: 500;
						    font-size: 15px;
						    span {
							    font-weight: 700;
							    font-size: 50px;
							    margin-right: 15px;
							    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
							    -webkit-background-clip: text;
							    -webkit-text-fill-color: transparent;
							}
						}
						.rating-area {
						    width: 46%;
						    display: inline-block;
						    float: left;
						    border: 1px solid rgba(0,0,0,.05);
						    margin: 1% 2%;
						    padding: 10px;
						    border-radius: 4px;
						    background: rgba(229, 229, 229, 0.5);
					        min-height: 190px;
						    figure {
							    float: left;
							    width: 80px;
							    height: 80px;
							    border-radius: 50px;
							    overflow: hidden;
							    display: flex;
							    align-items: center;
							    margin-right: 20px;
							    img {
							    	width: 100%;
							    }
							}
							p {
								margin-left: 110px;
							    width: 75%;
							    text-align: justify;
							}
							h4 {
							    color: #000;
						        font-size: 19px;
							    small {
							    	color: #989898;
						    	    font-size: 13px
							    }
							}
							h5 {
								span {
									font-weight: 700;
								    font-size: 25px;
								    margin-right: 5px;
								    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
								    -webkit-background-clip: text;
								    -webkit-text-fill-color: transparent;
								}
							}
						}
					}
				}
				div#express_faqs  {
					.proj-exec { 
						width: 95%;
					    border: 1px solid #e2e2e2;
					    margin: 10px 25px;
					}
				}
				div#hire_guide {
					.proc-guide {
						margin: 10px;
    					padding: 0 10px;
    					p {
						    color: #757575;
					    }
    					ul {
    						li {
							    color: #616161;
							    line-height: 30px;
							    font-size: 14px;
						        margin-bottom: 20px;
							     b {
								    color: #333;
								}
							}
    					}
					}
				}
			}
		}
	}
}
.listing-menu + footer {
    background-color: whitesmoke;
}
div#booknow_pops {
	.modal-dialog {
	    width: 600px;
	    .address-locate {
		    padding: 10px 20px 0px;
		    h3 {
			    margin: 10px 0;
			    font-size: 19px;
			}
			h2 {
				text-align: center;
			    font-size: 21px;
			    margin: 0;
			    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
			}
			.date-select {
			    .item {
				    text-align: center;
				    cursor: pointer;
			        .actives {
			        	background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
					    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
					    color: #fff !important;
			        }
				    span {
					    display: block;
					}
					div {
					    padding: 10px;
					    background: #e8e8e8;
					}
				}
				.owl-nav button {
				    position: absolute;
				    left: -14px;
				    top: 0;
				}
				.owl-nav button span {
				    font-size: 40px;
				}
				.owl-nav button.owl-next {
				    right: -14px;
				    left: auto;
				}
			}
		}
		.select-location {
		    padding: 0 15px;
		    h3 {
			    margin: 0 0 10px 0;
			    font-size: 15px;
			}
			button {
				width: 100%;
			    padding: 10px;
			    margin: 0 0 10px 0;
			    border: 0;
			    border-radius: 5px;
			    font-weight: 600;
			    background: #ccc;
			}	
		}
		.map-selectoptions {
		    display: inline-block;
		    width: 100%;
		    .select-locations {
			    padding: 0 15px;
			    h3 {
				    margin: 0 0 10px 0;
				    font-size: 15px;
				}
				textarea#comment {
				    resize: none;
				}
		    	input[type="submit"] {
				    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
				    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
				    color: #fff !important;
				    border: 0;
				    padding: 10px 15px;
				    text-transform: capitalize;
			        margin: 10px auto 0;
				    display: block;
				    font-size: 15px;
				    border-radius: 5px;
				}
		    }
		}
	}
}
.page-comer {
    color: #fff;
    padding: 0;
    text-transform: capitalize;
    position: relative;
    top: 0;
    z-index: 1;
    left: 10px;
}
#booknow_first {
	.proj-views-type {
	    padding: 20px;
	    h3 {
	    	text-align: left;
		    font-size: 21px;
	        padding: 0 0 10px 0;
		    margin: 0;
		    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
	    }
	    ul {
	    	padding: 0px;
	    	li {
	    		list-style: none;
			    padding: 10px;
			    text-align: left;
			    box-shadow: 0px 0px 4px #f5f5f5;
			    margin: 10px 0;
    			i {
				    padding: 7px;
				    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
				    -webkit-background-clip: text;
				    -webkit-text-fill-color: transparent;
				    font-size: 17px;
    			}
	    	}
	    }
	    a {
	    	text-align: center;
		    display: block;
		    margin: 0 auto;
		    width: 30%;
		    padding: 10px;
		    border-radius: 5px;
		    color: #fff;
		    font-size: 15px;
		    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
	        cursor: pointer;
	    }
	}
}
.floating-label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 8px;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    opacity: 0.5;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: -10px;
  bottom: 10px;
  left: 10PX;
  font-size: 11px;
  opacity: 1;
}
span.floating-label {
    font-size: 14px;
    font-weight: 600;
}
input:focus ~ .floating-label, input:not(:focus):valid ~ .floating-label {
    background: #fff;
    width: auto;
    height: 20px;
    padding: 0;
    left: 10px;
    color: #0089d1;
    font-weight: 600;
}
.contact-banner {
	padding: 0px;
	img {
		width: 100%;
	}
}
.conatct-mail {
	.company-cnt {
		h3 {
    		display: inline-block;
    		font-size: 25px;
		    margin-top: 0;
		}
		.check-add {
			h4 {
			    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
			    font-weight: 700;
			    font-size: 23px;
			    margin: 20px 0;
			}
			p {
				line-height: 28px;
			    font-size: 15px;
			    color: #555;
			    width: 75%;
			    a {
		        	font-weight: 700;
		        	color: #555;
		        }
			}
			span {
				line-height: 28px;
			    font-size: 15px;
			    color: #555;
			    width: 75%;
		        display: block;
		        a {
		        	font-weight: 700;
		        	color: #555;
		        }
			}
		}
	}
	.company-mail {
		h3 {
    		display: inline-block;
    		font-size: 25px;
		    margin-top: 0;
		}
		.form-group {
			input {
			    height: 40px;
			}
			textarea {
			    width: 100%;
			    height: 150px;
			    border: 1px solid #ccc;
			    border-radius: 4px;
			    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			}
		}
		input[type="submit"] {
		    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
		    color: #fff !important;
		    padding: 10px 20px;
		    border-radius: 50px;
		    width: 100%;
		    border: 0;
		}
	}
}
.map-view {
    padding: 0;
    margin: 40px auto;
}