.back-pg {
    background: #f5f5f5;
    .tasker-desk {
		h3 {
		    text-align: center;
		}
		 p {
		    text-align: center;
		}
		.selet-task {
		    background: #fff;
		    box-shadow: 0px 0px 3px #7ecf8f;
		    border-radius: 4px;
		    select {
	    	    height: 45px;
		    }
		    .form-sec {
		    	ul {
		    		padding: 0px;
		    		li {
					    display: inline-block;
					    min-width: 163px;
					    text-align: center;
					    margin: 5px;
					    padding: 13px;
					    border-radius: 4px;
					    box-shadow: 0px 0px 4px #989898;
				        cursor: pointer;
					    &.active {
					    	background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
    						color: #fff !important;
					    }
					}
		    	}
		    }
		    .address-locate {
		    	ul {
		    		padding: 0px;
		    		li {
					    display: inline-block;
					    min-width: 74px;
					    text-align: center;
					    margin: 5px;
					    padding: 5px;
					    border-radius: 4px;
					    -webkit-box-shadow: 0px 0px 4px #989898;
					    box-shadow: 0px 0px 4px #989898;
					    cursor: pointer;
					    span {
					    	display: block;
					    }
					    &.active {
					    	background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
    						color: #fff !important;
					    }
					}
		    	}
		    }
		    p {
		    	text-align: left;
			    font-size: 13px;
			    margin: 20px 0;
		    }
		}
		.selet-person {
		    .each-tasker {
			    background: #fff;
			    -webkit-box-shadow: 0px 0px 3px #7ecf8f;
			    box-shadow: 0px 0px 3px #7ecf8f;
			    border-radius: 4px;
			    display: inline-block;
			    text-align: left;
		        margin: 0 0 15px;
	            width: 100%;
			    .prof-photo {
			        text-align: center;
		            margin-top: 17px;
			    	ul {
			    		padding: 0px;
			    		margin: 5px;
		    		    text-align: center;
			    		li {
			    			display: inline-block;
						    svg {
						    	width: 20px;
						    	height: 20px;
						    	fill: #989898;
						    }
						    &.active {
					    		svg {
				    			    fill: #47c9c9;
					    		}
					    	}
						}
			    	}
			    	a.select-check {
					    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
					    width: 100%;
					    display: block;
					    text-align: center;
					    padding: 13px;
					    color: #fff;
					    border-radius: 4px;
					    margin: 10px 0;
					}
					a {
						display: block;
					    text-align: center;
					    margin: 10px 0;
					}
			    }
			    .tasker-info {
			    	h3 {
			    		text-align: left;
    					font-size: 21px;
			    	}
			    	span {
			    		display: block;
    					margin: 10px 0px;
			    	}
			    	p {
		    		    text-align: left;
			    	}
			    }
			}
		}
	}
}
.back-pg + footer {
    background-color: #f5f5f5;
}
.tasker-date-select {
    .item {
	    text-align: center;
	    cursor: pointer;
        .actives {
        	background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
		    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
		    color: #fff !important;
        }
	    span {
		    display: block;
		}
		div {
		    padding: 10px;
		    background: #e8e8e8;
		}
	}
	.owl-nav button {
	    position: absolute;
	    left: -14px;
	    top: 0;
	}
	.owl-nav button span {
	    font-size: 40px;
	}
	.owl-nav button.owl-next {
	    right: -14px;
	    left: auto;
	}
}
.no-tasker {
	img {
	    width: 550px;
	    margin: 0 auto;
	    text-align: center;
	    display: block;
	}
	h3 {
	    font-size: 19px;
	    margin: 13px 0;
	    font-weight: 500;
	}
}
#payment_steps {
	.modal-dialog {
	    width: 600px;
	    .modal-content {
	    	button.close {
	    		padding: 10px;
			    opacity: 1;
			    position: absolute;
			    right: 12px;
			    top: -5px;
	    	}
	    }
	    .proj-method {
		    overflow-y: scroll;
	    	height: 450px;
    	    padding-bottom: 25px;
	    	h3 {
		    	text-align: center;
			    font-size: 21px;
			    padding: 10px 0;
			    margin: 0;
			    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
		    }
		    label {
	    	    margin-left: 31px;
	    	    input {
    	    	    margin-right: 5px;
	    	    }
		    }
		    .fill-card {
			    margin-left: 100px;
		        width: 65%;
			    img {
			    	width: 50px;
    				display: block;
			    }
			    .form-area {
				    margin-bottom: 10px;
				    label {
					    display: block;
					    margin: 5px 0;
					}
					input[type="text"], input.cc-number, input[type="email"] {
					    width: 100%;
					    height: 45px;
					    border-radius: 4px;
					    border: 1px solid transparent;
					    background: #eee;
					    padding: 0 20px;
				        text-transform: capitalize;
					}
					::placeholder { 
					    color: #ccc;
					    opacity: 1; 
					}
					:-ms-input-placeholder { /* Internet Explorer 10-11 */
					    color: #ccc;
					}
					::-ms-input-placeholder { /* Microsoft Edge */
					    color: #ccc;
					}
				}
				.expiry-cvv {
				    padding: 0;
				    .date-expiry {
				    	padding: 0;
			    	    width: 37%;
			    	    .form-area {
			    	    	span {
							    background: #eee;
							    display: inline-block;
							    width: auto;
							    border-radius: 5px;
							    padding: 6px;
							    select {
								    display: inline-block;
								    width: auto;
								    border: 0;
								    background: transparent;
								    box-shadow: none;
							        padding: 6px 0;
							        cursor: pointer;
								}
							}
			    	    }
				    }
				    .cvc-cvv {
				    	padding: 0;
			    	    margin: 5px 0 0 5%;
			    	    input {
			    	    	border-radius: 4px;
						    border: 1px solid transparent;
						    height: 45px;
						    width: 50%;
						    padding: 0 15px;
						    letter-spacing: 0.5em;
						    font-size: 19px;
						    text-align: center;
						    background: #eee;
						    display: block;
			    	    }
				    }
				}
			}
	    }
	    .tot-amnt {
		    margin-left: 31px;
		    h2 {
    	        font-size: 20px;
    			margin: 15px 0;
	    	    b {
    	    	    font-size: 14px;
				    color: #ff0c08;
				    font-weight: 500;
	    	    }
		    }
		    button {
	    	    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
			    width: 35%;
		        border: 0;
			    display: block;
			    text-align: center;
			    padding: 13px;
			    color: #fff;
			    border-radius: 4px;
			    margin: 10px 0;
		    }
	    }
	}
}
#review_task, #tasker_detail {
	.modal-dialog {
	    width: 600px;
	    .modal-content {
	    	button.close {
	    		padding: 10px;
			    opacity: 1;
			    position: absolute;
			    right: 0;
			    top: -5px;
	    	}
	    	.review-method {
	    	    border-bottom: 1px solid #ccc;
	    		h3 {
				    font-size: 21px;
				    padding: 10px;
				    margin: 0;
				    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
				    -webkit-background-clip: text;
				    -webkit-text-fill-color: transparent;
			    }
			    .task-information {
				    width: 95%;
				    margin: 0 auto;
				    padding: 10px;
				    span {
					    text-align: left;
					    display: inline-block;
					    width: 30%;
					}
					b {
					    text-align: left;
					    display: inline-block;
					    width: 69%;
					}
				}
	    	}
	    	.tasker-prof {
				h3 {
				    font-size: 21px;
				    padding: 10px;
				    margin: 0;
				    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
				    -webkit-background-clip: text;
				    -webkit-text-fill-color: transparent;
				}
				.task-info {
				    padding: 20px;
				    box-shadow: 2px 2px 10px #dddd;
				    width: 90%;
				    margin: 0 auto 20px;
			        min-height: 170px;
				    figure {
				    	width: 100px;
					    height: 100px;
					    border-radius: 50%;
					    overflow: hidden;
					    display: flex;
					    align-items: center;
					    float: left;
    					margin-right: 20px;
				    }
				    span {
				    	text-align: right;
					    display: block;
					    font-size: 30px;
					    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
					    -webkit-background-clip: text;
					    -webkit-text-fill-color: transparent;
					    font-weight: 600;
				    }
				}
				input {
			    	background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
				    width: 35%;
				    display: block;
				    text-align: center;
				    padding: 13px;
				    color: #fff;
				    border-radius: 4px;
				    margin: 10px auto;
				    border: 0;
			    }
			}
	    }
	}
}
.cnt-us {
	button {
	    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
	    border: 0;
	    display: block;
	    text-align: center;
	    padding: 13px;
	    color: #fff;
	    border-radius: 4px;
	    margin: 10px auto;
    }
    img {
	    width: 170px;
	    margin: 0 auto;
	    display: block;
    }
}