.dash-board {
    padding: 0;
    margin-bottom: 30px;
	.menu-dash {
	    padding: 0;
		.tab-sec {
		    float: left;
		    background: #fff;
		    box-shadow: 0px 0px 2px #ccc;
		    margin-right: 1%;
		    border-top: 4px solid #333;
		    padding-top: 10px;
		    border-top-left-radius: 4px;
		    border-top-right-radius: 4px;
			ul {
				padding: 0px;
			    margin: 0;
				li {
					display: inline-block;
				    width: 100%;
				    margin: 5px 0;
				    a {
			    	    padding: 10px 20px;
		    	        color: #989898;
					    display: block;
					    width: 100%;
				    }
				    &.active {
				    	a {
			    		    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
						    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
						    color: #fff !important;
				    	}
				    }
				}
			}
		}
	}
	.content-dash {
	    padding: 0;
        border: 1px solid #ddd;
        width: 74%;
    	margin-left: 1%;
        div#vtab1 {
        	ul.nav.nav-tabs {
			    border: 0;
			    li {
			    	width: 20%;
	    			text-align: center;
				    background: #f5f5f5;
				    a {
				    	color: #333;
			    		&:hover {
			    				border-color: transparent;
								background: transparent;
			    		}
				    }
			    }
			    li.active {
			        background: #f5f5f5;
			    	a {
			    		color: #00ce9e;
			    		border: 0px;
		    		    background: #f5f5f5;
	   	 				border-bottom: 2px solid #00ce9e;
			    	}
			    }
			}
			.tab-pane {
				table {
				    width: 95%;
				    margin: 20px;
				    border: 1px solid #ddd;
				    tr {
				    	border-bottom: 1px solid #ddd;
				    }
				    th {
					    padding: 10px;
					}
					td {
					    padding: 11px;
				        font-size: 13px;
					    figure {
				    	    width: 25px;
						    height: 25px;
						    float: left;
						    border-radius: 50px;
						    overflow: hidden;
						    display: flex;
						    align-items: center;
						    margin-right: 5px;
					    }
					    span {
					    	font-size: 12px;
    						color: #ccc;
					    }
					    &.status-btn {
					    	span {
					    		background: rgb(220, 184, 0);
							    width: 100%;
							    display: inline-block;
							    text-align: center;
							    padding: 7px;
							    color: #fff;
							    border-radius: 50px;
					    	}
					    	&.upcome span {
					    		background: #28ee9e;
					    	}
					    	&.comple span {
					    		background: #81cf8b;
					    	}
					    	&.cancel span {
					    		background: #e80000;
					    	}
					    	&.upcome span {
					    		background: #28ee9e;
					    	}
					    } 
					}
				}
			}
        }
        .tab-pane {
    		h3 {
			    background: #f5f5f5;
			    display: inline-block;
			    padding: 10px 20px;
			    margin: 0;
			    width: 100%;
			    font-size: 20px;
		        font-weight: 600;
			}
        }
        div#vtab5 {
			ul {
				li {
				    display: inline-block;
				    width: 100%;
				    margin: 10px 0;
				    label {
					    width: 100%;
					    h3 {
						    background: transparent;
						    padding: 0;
						    font-size: 17px;
						    font-weight: 500;
						    margin-bottom: 5px;
						}
						input {
							width: 75%;
						    padding: 10px;
						    border-radius: 4px;
						    box-shadow: none;
						    border: 1px solid #ddd;
						}
						input.button.button-green {
						    border: 0;
						}
					}
				}
			}
        }
        div#vtab6 {
			.deactive-area {
			    padding: 20px;
			    span {
				    text-align: center;
				    p {
				    	 u {
						    color: red;
						}
				    }
				}
				button.button-green {
				    border: 0;
				}
				button.close {
				    position: absolute;
				    right: 10px;
				    top: 15px;
				}
			}
		}
	}
}
.entiore-chats {
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    overflow: hidden;
    height: 81vh;
    .user-chat {
	    width: 35%;
	    float: left;
	    background: #fff;
	    padding: 10px 0 0 0;
	    position: relative;
        background: #333;
	    form {
		    position: absolute;
		    background: #333;
		    padding: 8px;
		    left: 0;
		    width: 100%;
		    top: 0;
		    z-index: 9999;
	    	label {
    		    width: 100%;
			    position: relative;
			    margin: 5px 0;
			    i {
			    	position: absolute;
				    top: 11px;
				    left: 10px;
				    font-weight: bolder;
				    font-size: 17px;
			        color: #ccc;
			    }
			    input {
			    	padding-left: 35px;
				    border-radius: 50px;
				    border: 1px solid #ccc;
				    height: 40px;
				    width: 100%;
				    &:focus {
			    	    outline: 0px;
				    }
			    }
	    	}
		}
		.messe-seperate {
		    height: 80vh;
		    overflow-y: auto;
		    overflow-x: hidden;
		    .overall-chats {
			    width: 100%;
			    padding: 5px 0px 10px 5px;
			    cursor: pointer;
		        border-bottom: 1px solid rgba(245, 245, 245, 0.2);
			    &:first-child {
		    	    padding-top: 75px;
			    }
			    &.active, &:hover {
			    	background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
			    }
			    .chat-image {
				    margin-right: 5px;
				    display: inline-block;
			        position: relative;
				    figure {
			    	    width: 50px;
					    height: 50px;
					    border-radius: 50px;
					    overflow: hidden;
					    display: -webkit-box;
					    display: -ms-flexbox;
					    display: flex;
					    -webkit-box-align: center;
					    -ms-flex-align: center;
					    align-items: center;
					    position: relative;
					    img {
				    	    min-height: 50px;
    						width: 100%;
					    }
				    }
				    &.active {
				    	&:after {
			    		    background: #25ff00 !important;
				    	}
				    }
				    &:after {
			    	    content: "";
					    background: red;
					    width: 8px;
					    height: 8px;
					    display: block;
					    position: absolute;
					    border-radius: 20px;
					    right: 0;
					    top: 75%;
					    z-index: 999999;
				    }
				}
				.chat-cnt {
				    width: 78%;
				    float: right;
				    display: inline-block;
				    position: relative;
				    p {
				    	text-overflow: ellipsis;
					    white-space: nowrap;
					    overflow: hidden;
					    width: 170px;
					    margin-bottom: 0;
    					position: relative;
					    color: #fff;
				    }
				    i {
			    	    font-size: 9px;
					    color: #fff;
					    display: block;
					    font-style: normal;
				    }
				    #chat-drops {
					    position: absolute;
					    right: 10px;
					    top: 0px;
					    padding: 5px 10px;
					    button {
				    	    background: transparent;
    						padding: 0;
						    display: none;
    						i {
    							font-size: 11px;
							    color: #fff;
							    display: block;
    						}
					    }
					    #down-drops {
						    left: -7.1em;
						    min-width: 120px;
						    background: #fff;
						    margin: 0 auto;
						    top: 27px;
						    div {
						    	margin: 0 auto;
    							width: 50%;
						    }
						}
					}
					p:last-child {
						margin-bottom: 0;
					    font-size: 11px;
					    color: #fff;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					    overflow: hidden;
					    width: 190px;
					}
				}
			}
		}
	}
	.chatuser-cnt {
	    width: 65%;
	    display: inline-block;
	    background: #fff;
	    height: 82vh;
	    border-left: 1px solid rgba(204, 204, 204, 0.5);
	    padding: 10px 0 10px 10px;
	    position: relative;
	    .prop-cha {
		    background: #f5f5f5;
		    display: inline-block;
		    width: 100%;
		    position: absolute;
		    left: 0;
		    top: 0;
		    padding: 5px 0;
		    figure {
	    	    width: 75px;
			    height: 56px;
			    overflow: hidden;
			    display: -webkit-box;
			    display: -ms-flexbox;
			    display: flex;
			    -webkit-box-align: center;
			    -ms-flex-align: center;
			    align-items: center;
			    float: left;
			    -webkit-box-shadow: 1px 1px 5px;
			    box-shadow: 1px 1px 5px;
			    margin: 0 1em;
		    }
		    span {
		    	display: inline-block;
    			float: left;
    			h3 {
    				margin: 5px 0;
				    font-size: 19px;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    width: 350px;
				    overflow: hidden;
    			}
		    }
		}
		.chat-fully {
		    height: 70vh;
		    display: inline-block;
		    width: 100%;
		    overflow-y: auto;
		    margin-top: 56px;
		    overflow-x: hidden;
		    padding-bottom: 0px;
		    .message-types {
			    width: 100%;
			    display: inline-block;
			    margin: 0px 0;
			    .recived-msg {
				    float: left;
				    width: 100%;
				    figure {
				    	width: 35px;
					    height: 35px;
					    border-radius: 50px;
					    overflow: hidden;
					    display: -webkit-box;
					    display: -ms-flexbox;
					    display: flex;
					    -webkit-box-align: center;
					    -ms-flex-align: center;
					    align-items: center;
					    float: left;
				    }
				    i {
				    	margin-left: 12px;
					    font-size: 10px;
					    color: #000;
					    font-style: normal;
				    }
				    p.typed-text {
				    	width: 65%;
					    display: block;
					    margin-left: 48px;
					    text-align: left;
					    margin-bottom: 5px;
					    max-width: -webkit-max-content;
					    max-width: -moz-max-content;
					    max-width: max-content;
					    span {
					    	width: auto;
						    background: #eee;
						    padding: 10px 20px;
						    color: #333;
						    display: block;
						    text-transform: capitalize;
						    border-radius: 35px;
						    border-bottom-left-radius: 0px;
					    }
				    }
				}
				.sent-msg {
				    width: 100%;
				    float: right;
				    text-align: right;
				    margin-top: 10px;
				    p.sent-text {
					    width: 65%;
					    display: block;
					    float: right;
					    margin-bottom: 0px;
					    span {
					    	width: auto;
					        background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
    						background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
						    padding: 10px 20px;
						    color: #fff;
						    display: inline-block;
						    text-transform: capitalize;
						    text-align: left;
						    border-radius: 35px;
						    border-bottom-right-radius: 0px;
					    }
					}
					i {
						width: 100%;
					    font-size: 10px;
					    color: #000;
					    float: right;
					    font-style: normal;
					}
				}
			}
		}
		.send-message {
		    /* width: 96%; */
		    /* background-color: whitesmoke; */
		    display: table;
		    position: absolute;
		    bottom: 5px;
		    left: 0;
		    width: 100%;
		    z-index: 9999999999;
		    -webkit-box-shadow: 1px 1px 10px #ccc;
		    box-shadow: 1px 1px 10px #ccc;
		    .message-text {
			    display: table-cell;
			    vertical-align: middle;
			    background: #fff;
			    textarea {
				    width: 100%;
				    border: 0;
				    resize: none;
				}
			}
			.send-button {
			    display: table-cell;
			    vertical-align: bottom;
			    text-align: center;
			    width: 10%;
			    cursor: pointer;
			    background: #fff;
			    button {
			    	border: 0;
				    line-height: initial;
				    color: #fff;
				    display: block;
				    border-radius: 0px;
				    margin: 0 auto;
				    background-image: url(../images/send-icon.png);
				    background-size: 50% 75%;
				    background-position: center;
				    padding: 25px 33px;
				    width: 100%;
				    background-repeat: no-repeat;
				    background-color: #fff;
			    }
			}
		}
	}
}
.overall-chats:hover .dropdown-toggle {
    display: block !important;
}


.entiore-chats .user-chat .messe-seperate::-webkit-scrollbar {
    -webkit-appearance: none;
}
.entiore-chats .user-chat .messe-seperate::-webkit-scrollbar:vertical {
    width: 5px;
}
.entiore-chats .user-chat .messe-seperate::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: rgba(0, 0, 0, .5);
}

.entiore-chats .chatuser-cnt .chat-fully::-webkit-scrollbar {
  width: 5px;
}
.entiore-chats .chatuser-cnt .chat-fully:hover::-webkit-scrollbar-thumb {
 background: rgba(0, 0, 0, .5);
}
.entiore-chats .chatuser-cnt .chat-fully:hover::-webkit-scrollbar-track {
 box-shadow: inset 0 0 0px grey;
}
.entiore-chats .chatuser-cnt .chat-fully::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 7px;
  scroll-behavior: smooth;
}
.entiore-chats .chatuser-cnt .chat-fully::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 7px;
}
.my-acc {
  background: #fff;
  padding: 0 0em 3% 0%;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  h3 {
    margin: 10px 0 10px 3%;
  }
}
.displ-pic {
  position: relative;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 20px;
  .show-image.editzz {
    top: 40%;
    left: 42%;
    position: absolute;
    width: auto;
  }
  h4 {
  	text-align: center;
    margin: 75px 0 5px 0;
    font-weight: 600;
    font-size: 19px;
  }
}
.service-type-name {
    top: 8%;
    left: 31%;
    position: absolute;
    width: auto;
    svg {
    	display: inline-block;
	    width: 13%;
	    float: left;
	    fill: #fff;
    }
    h2 {
    	display: inline-block;
	    width: 69%;
	    float: left;
	    margin: 20px;
	    color: #fff;
	    font-weight: 500;
    	font-size: 25px;
    }
}
div#image-holder {
  margin: 0 auto;
  text-align: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #ccc;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.displ-pic figure {
  width: 100%;
  min-height: 250px;
  margin: 0;
}
div {
  &#image-holder img {
    min-height: 150px;
    width: 100%;
  }
  &.show-image {
    label {
      display: none;
    }
    input.edit {
      display: none;
      cursor: Pointer;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 3px;
    }
  }
}

.displ-pic {
  h3 {
    text-align: center;
    margin: 75px 0 5px 0;
    font-weight: 600;
    font-size: 19px;
  }
  h6 {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}
div.show-image:hover label {
  display: block;
  position: absolute;
  top: 33%;
  left: 31%;
  width: auto;
  padding: 5px !important;
  height: 32px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 3px;
  border: 1px solid;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.displ-pic h6 span {
  margin: 0 15px 0 15px;
}
.pers-info {
  margin: 0 3%;
  label {
  	display: block;
  }
  h5 {
    margin: 10px 0;
  }
  ul {
    li {
      position: relative;
      list-style: none;
      i {
        position: absolute;
	    bottom: 11px;
	    left: 10px;
	    font-size: 20px;
	    background: -webkit-linear-gradient(#28ee9e, #0db0e2);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
      }
    }
    &.dividion-one li i {
      bottom: 11px;
    }
    li {
      input, select {
        padding-left: 35px;
        border-radius: 4px;
        height: 40px;
        border: 1px solid;
        width: 100%;
      }
      textarea {
        border-radius: 4px;
        width: 99%;
    	border: 1px solid;
      }
    }
    &.dividion-one {
      width: 100%;
      padding: 0;
      display: inline-block;
      margin-bottom: 0;
    }
    &.dividion-too {
      width: 100%;
      padding: 0;
      display: inline-block;
      margin-bottom: 0;
      li {
        width: 45%;
        float: left;
        margin-right: 5%;
      }
    }
    &.dividion-treo {
      width: 100%;
      padding: 0;
      display: inline-block;
      margin-bottom: 0;
      li {
        width: 28.3%;
        float: left;
        margin-right: 5%;
      }
    }
  }
}
ul.dividion-one li {
  width: 96%;
}
.pers-info {
  ul li h5 {
    font-size: 15px;
    color: #111;
    font-weight: 500;
  }
  input[type="button"] {
    width: 17%;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 2% 0;
    color: #fff;
    font-weight: 500;
    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
    border: 0;
  }
}
input[type=number] {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.content-dash {
	ul.nav.nav-tabs {
	    border: 0;
	    li {
	    	width: 20%;
			text-align: center;
		    background: #f5f5f5;
		    a {
		    	color: #333;
	    		&:hover {
	    				border-color: transparent;
						background: transparent;
	    		}
		    }
	    }
	    li.active {
	        background: #f5f5f5;
	    	a {
	    		color: #00ce9e;
	    		border: 0px;
			    background: #f5f5f5;
	 				border-bottom: 2px solid #00ce9e;
	    	}
	    }
	}
}
.tasker-board {
	table {
	    width: 100%;
	    margin: 20px 0;
	    border: 1px solid #ddd;
	    tr {
	    	border-bottom: 1px solid #ddd;
	    }
	    th {
		    padding: 10px;
		    &:nth-child(4) {
			    width: 350px;
			}
		}
		td {
		    padding: 11px;
	        font-size: 13px;
		    figure {
	    	    width: 25px;
			    height: 25px;
			    float: left;
			    border-radius: 50px;
			    overflow: hidden;
			    display: flex;
			    align-items: center;
			    margin-right: 5px;
		    }
		    span {
		    	font-size: 12px;
				color: #ccc;
		    }
		    &.status-btn {
		    	span {
		    		background: rgb(220, 184, 0);
				    width: 100%;
				    display: inline-block;
				    text-align: center;
				    padding: 7px;
				    color: #fff;
				    border-radius: 50px;
		    	}
		    	&.upcome span {
		    		background: #28ee9e;
		    	}
		    	&.comple span {
		    		background: #81cf8b;
		    	}
		    	&.cancel span {
		    		background: #e80000;
		    	}
		    	&.upcome span {
		    		background: #28ee9e;
		    	}
		    } 
		}
	}
}
.Notifi-sec {
  border-bottom: 1px solid rgba(204, 204, 204, 0.23);
  padding: 5px 20px;
  position: relative;
  display: inline-block;
	  width: 100%;
	  .user-image {
		display: inline-block;
		width: auto;
		float: left;
	}
	.Notifi-cnt {
		  display:  inline-block;
		  width: 90%;
		  float: left;
	}
}
.user-image {
  margin-right:  20px;
  	figure {
	  	width: 42px;
	    height: 42px;
	    border-radius: 50px;
	    overflow: hidden;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    margin: 5px 0 0 0;
	}
} 
.Notifi-cnt p:last-child {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.Notifi-sec:last-child {
    border: 0;
}
.Notifi-cnt {
  margin-top: 5px;
	  p {
	    margin-bottom: 0;
	    color: #ccc;
	    font-size: 12px;
	  	i {
	  		margin-right: 5px;
  		    vertical-align: initial;
	  	}
	}
	h4 {
	    margin: 0 0 5px;
	    font-weight: 500;
	    font-size: 15px;
	}
}
.Notifi-cnt p:last-child i {
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: 1px;
}

div#Notifi_drops {
	position: absolute;
	right: 30px;
	top: 20px;
    font-size: 15px;
	button {
		border: 0;
	    background: transparent;
			&:hover {
				background: transparent;
				color: #fff;
			}
	}
	.Notifi-dele {
	  padding:  0;
	  right: -22px;
	  left: auto;
	  	a {
	  	  padding: 6px 20px;
			  display: block;
		}
		&:after {
			  content: '';
			  background-color: #fff;
			  z-index: 100;
			  display: inline-block;
			  position: absolute;
			  border-radius: .1875rem 0 0;
			  -webkit-transform: rotate(45deg);
			  transform: rotate(45deg);
			  width: 10px;
			  height: 10px;
			  border-top: 1px solid rgba(0, 0, 0, 0.15);
			  border-left: 1px solid rgba(0, 0, 0, 0.15);
			  top: -5.6px;
			  right: 10px;
		}
	}
}
.wallet-show {
	table {
	    width: 95%;
    	margin: 20px auto;
	    border: 1px solid #ddd;
	    tr {
    	    border-bottom: 1px solid #ddd;
	    }
	    th {
    	    padding: 10px;
	    }
	    td {
	    	padding: 11px;
    		font-size: 13px;
    		a {
    			background: #28ee9e;
			    width: 100%;
			    display: inline-block;
			    text-align: center;
			    padding: 7px;
			    color: #fff;
			    border-radius: 50px;
    		}
	    }
	}
}
.deposit-amount {
    margin: 20px;
	ul {
		padding: 0px;
		li {
		    display: inline-block;
	        width: 19.5%;
	        a.choose_bank {
        	    width: 100%;
			    padding: 15px;
			    border-radius: 5px;
			    display: block;
			    text-align: center;
			    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
			    color: #fff;
	        }
		    &.cover-bank {
		    	a {
		    		background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
				    display: inline-block;
				    width: 100%;
				    color: #fff;
				    padding: 10px;
				    border-radius: 5px;
				    figure {
			    	    width: 30px;
					    height: 30px;
					    display: inline-flex;
					    align-items: center;
					    vertical-align: middle;
					    border-radius: 50px;
					    overflow: hidden;
				    }
				    i {
				    	float: right;
   						margin: 8px 0;
				    }
		    	}
		    	ul.dropdown-menu {
		    		li {
	    			    width: 100%;
    			        border-bottom: 1px solid #fff;
	    			    a {
	    			    	background: #ccc;
						    padding: 5px 10px;
						    border-radius: 0;
						    &:hover {
					    	    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
						    }
	    			    }
		    		}
		    	}
		    }
		    &.input-segment {
				input {
				    -webkit-box-shadow: none;
				    box-shadow: none;
			        height: 50px;
				}
				label {
				    cursor: text;
				    padding-left: 0;
				    font-weight: 500;
				}
				.form-control-placeholder {
				    position: absolute;
				    top: 0;
				    padding: 14px 0 0 13px;
				    -webkit-transition: all 200ms;
				    transition: all 200ms;
				    opacity: 0.5;
			        font-size: 13px;
				}
				.form-group {
				    position: relative;
				}
				.form-control:focus + .form-control-placeholder, .form-control:valid + .form-control-placeholder {
				    font-size: 75%;
				    -webkit-transform: translate3d(0, -100%, 0);
				    transform: translate3d(0, -100%, 0);
				    -webkit-box-shadow: none;
				    box-shadow: none;
				    opacity: 1;
				    color: #989898;
				    top: 8px;
				    margin-left: 10px;
				    padding: 7px 0 0 0px;
				    background: #fff;
				    margin-bottom: 0;
				}
		    }
		}
	}
}
.request-depost {
    text-align: center;
    margin: 20px 0;
    button {
        display: inline-block;
	    width: 25%;
	    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
	    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
	    color: #fff;
	    border: 1px solid;
	    padding: 15px;
	    border-radius: 5px;
	    margin: 0 20px;
	    img {
	    	width: 100px;
		    display: block;
		    margin: 0 auto;
	    }
	    h4 {
    	    color: #fff;
		    font-weight: 500;
		    margin: 20px 0 0 0;
	    }
	}
}
.no-data {
    position: relative;
    background: #f5f5f5;
    color: #333;
    &:after {
	    background: url(../../dist/images/sc_backround.png);
	    background-size: cover;
	    content: "";
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    opacity: 0.3;
	}
    h2 {
	    font-size: 20px;
	    padding: 20px 20px 10px;
	    margin: 0;
	}
	ul {
	    padding-bottom: 5px;
	    li {
		    margin: 15px;
		    font-weight: 700;
		}
	}
}
 #tasker_detail {
 	.modal-dialog { 
 		.modal-content { 
	 		height: 550px;
	    	overflow-y: auto;
 			.review-method {
 				.task-information {
 					b {
 						width: 50%;
 					}
 				}
 			}
 			.rate-star {
 			    
 			}
 			.dis-pic {
 				figure {
				    width: 100px;
				    height: 100px;
				    overflow: hidden;
				    display: flex;
				    align-items: center;
				    float: left;
				    margin-right: 20px;
				}
 			}
 			.descrip-view {
 				a {
				    width: 100%;
				    text-align: left;
				    border-bottom: 1px solid #ccc;
				    font-size: 17px;
				    padding: 6px 20px;
				}
				ul {
					li {
						margin: 10px;
					}
				}
 			}
 			.task-bill {
			    width: 88%;
			    margin: 0 auto;
			    span {
				    border: 1px solid #f2f2f2;
				    padding: 10px;
				    min-width: 141px;
				    text-align: center;
				    display: inline-block;
				    box-shadow: 2px 2px 10px #dddd;
				    font-size: 17px;
				    width: 49%;
				}
			}
 		}
 	}
 }
.bill-details {
    position: relative !important;
}
 .bill-details .modal-dialog .modal-content {
	border: 0;
    overflow: auto;
    height: 100% !important;
}